node_red_base/flows.json
[
    {
        "id": "ecb7ed79ba721ac5",
        "type": "tab",
        "label": "Flow 1",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "cd27ad32.fb2ce8",
        "type": "tab",
        "label": "State machine with rbe",
        "disabled": false,
        "info": ""
    },
    {
        "id": "854a9f95.2f9f7",
        "type": "tab",
        "label": "State machine with feedback flow",
        "disabled": false,
        "info": ""
    },
    {
        "id": "70d12b2e.625c9c",
        "type": "tab",
        "label": "Simple state machine with data object",
        "disabled": false,
        "info": ""
    },
    {
        "id": "3a57f4c3.6a129c",
        "type": "tab",
        "label": "SM-Cat Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "114af05102a61db8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "03d703646fb2986c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3aeed3b66cedadf0",
        "type": "ui_group",
        "name": "Default",
        "tab": "114af05102a61db8",
        "order": 2,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0fcc6f74e740a064",
        "type": "echarts",
        "z": "ecb7ed79ba721ac5",
        "name": "",
        "width": "640",
        "height": "280",
        "x": 860,
        "y": 220,
        "wires": [
            [
                "2f9073a69cd71789",
                "225b77a213e5547d",
                "18d7c8fe5c0bd272"
            ]
        ]
    },
    {
        "id": "7d564f74eb24baa3",
        "type": "inject",
        "z": "ecb7ed79ba721ac5",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "MAP_COOR",
                "v": "[{\"x\":24,\"y\":240,\"point\":39,\"radius\":24},{\"x\":24,\"y\":264,\"point\":8,\"radius\":24},{\"x\":24,\"y\":288,\"point\":6,\"radius\":24},{\"x\":24,\"y\":312,\"point\":6,\"radius\":24},{\"x\":24,\"y\":336,\"point\":4,\"radius\":24},{\"x\":24,\"y\":360,\"point\":2,\"radius\":24},{\"x\":48,\"y\":240,\"point\":40,\"radius\":24},{\"x\":48,\"y\":264,\"point\":8,\"radius\":24},{\"x\":48,\"y\":288,\"point\":6,\"radius\":24},{\"x\":48,\"y\":312,\"point\":6,\"radius\":24},{\"x\":48,\"y\":336,\"point\":4,\"radius\":24},{\"x\":48,\"y\":360,\"point\":2,\"radius\":24},{\"x\":72,\"y\":240,\"point\":38,\"radius\":24},{\"x\":96,\"y\":240,\"point\":35,\"radius\":24},{\"x\":120,\"y\":240,\"point\":36,\"radius\":24},{\"x\":144,\"y\":240,\"point\":33,\"radius\":24},{\"x\":144,\"y\":264,\"point\":8,\"radius\":24},{\"x\":144,\"y\":288,\"point\":6,\"radius\":24},{\"x\":144,\"y\":312,\"point\":6,\"radius\":24},{\"x\":144,\"y\":336,\"point\":4,\"radius\":24},{\"x\":144,\"y\":360,\"point\":2,\"radius\":24},{\"x\":168,\"y\":240,\"point\":31,\"radius\":24},{\"x\":168,\"y\":264,\"point\":8,\"radius\":24},{\"x\":168,\"y\":288,\"point\":6,\"radius\":24},{\"x\":168,\"y\":312,\"point\":6,\"radius\":24},{\"x\":168,\"y\":336,\"point\":4,\"radius\":24},{\"x\":168,\"y\":360,\"point\":2,\"radius\":24},{\"x\":192,\"y\":240,\"point\":32,\"radius\":24},{\"x\":216,\"y\":240,\"point\":29,\"radius\":24},{\"x\":240,\"y\":240,\"point\":30,\"radius\":24},{\"x\":264,\"y\":240,\"point\":26,\"radius\":24},{\"x\":264,\"y\":264,\"point\":8,\"radius\":24},{\"x\":264,\"y\":288,\"point\":6,\"radius\":24},{\"x\":264,\"y\":312,\"point\":6,\"radius\":24},{\"x\":264,\"y\":336,\"point\":4,\"radius\":24},{\"x\":264,\"y\":360,\"point\":2,\"radius\":24},{\"x\":288,\"y\":240,\"point\":25,\"radius\":24},{\"x\":288,\"y\":264,\"point\":8,\"radius\":24},{\"x\":288,\"y\":288,\"point\":6,\"radius\":24},{\"x\":288,\"y\":312,\"point\":6,\"radius\":24},{\"x\":288,\"y\":336,\"point\":4,\"radius\":24},{\"x\":288,\"y\":360,\"point\":2,\"radius\":24},{\"x\":312,\"y\":240,\"point\":63,\"radius\":24},{\"x\":336,\"y\":240,\"point\":62,\"radius\":24},{\"x\":360,\"y\":240,\"point\":60,\"radius\":24},{\"x\":360,\"y\":336,\"point\":3,\"radius\":24},{\"x\":360,\"y\":360,\"point\":1,\"radius\":24},{\"x\":384,\"y\":240,\"point\":59,\"radius\":24},{\"x\":384,\"y\":264,\"point\":57,\"radius\":24},{\"x\":384,\"y\":288,\"point\":7,\"radius\":24},{\"x\":384,\"y\":312,\"point\":5,\"radius\":24},{\"x\":384,\"y\":336,\"point\":3,\"radius\":24},{\"x\":384,\"y\":360,\"point\":1,\"radius\":24},{\"x\":408,\"y\":240,\"point\":58,\"radius\":24},{\"x\":408,\"y\":264,\"point\":57,\"radius\":24},{\"x\":408,\"y\":288,\"point\":7,\"radius\":24},{\"x\":408,\"y\":312,\"point\":5,\"radius\":24},{\"x\":408,\"y\":336,\"point\":3,\"radius\":24},{\"x\":408,\"y\":360,\"point\":1,\"radius\":24},{\"x\":432,\"y\":264,\"point\":10,\"radius\":24},{\"x\":432,\"y\":288,\"point\":10,\"radius\":24},{\"x\":432,\"y\":336,\"point\":3,\"radius\":24},{\"x\":432,\"y\":360,\"point\":1,\"radius\":24},{\"x\":456,\"y\":264,\"point\":9,\"radius\":24},{\"x\":456,\"y\":288,\"point\":9,\"radius\":24},{\"x\":480,\"y\":264,\"point\":12,\"radius\":24},{\"x\":480,\"y\":288,\"point\":12,\"radius\":24},{\"x\":504,\"y\":264,\"point\":13,\"radius\":24},{\"x\":504,\"y\":288,\"point\":13,\"radius\":24},{\"x\":504,\"y\":312,\"point\":14,\"radius\":24},{\"x\":504,\"y\":336,\"point\":11,\"radius\":24},{\"x\":528,\"y\":264,\"point\":16,\"radius\":24},{\"x\":528,\"y\":288,\"point\":16,\"radius\":24},{\"x\":528,\"y\":312,\"point\":14,\"radius\":24},{\"x\":528,\"y\":336,\"point\":11,\"radius\":24},{\"x\":552,\"y\":72,\"point\":64,\"radius\":24},{\"x\":552,\"y\":96,\"point\":64,\"radius\":24},{\"x\":552,\"y\":120,\"point\":64,\"radius\":24},{\"x\":552,\"y\":144,\"point\":64,\"radius\":24},{\"x\":552,\"y\":168,\"point\":64,\"radius\":24},{\"x\":552,\"y\":264,\"point\":15,\"radius\":24},{\"x\":552,\"y\":288,\"point\":15,\"radius\":24},{\"x\":552,\"y\":312,\"point\":14,\"radius\":24},{\"x\":552,\"y\":336,\"point\":11,\"radius\":24},{\"x\":576,\"y\":72,\"point\":23,\"radius\":24},{\"x\":576,\"y\":96,\"point\":23,\"radius\":24},{\"x\":576,\"y\":120,\"point\":23,\"radius\":24},{\"x\":576,\"y\":144,\"point\":23,\"radius\":24},{\"x\":576,\"y\":168,\"point\":23,\"radius\":24},{\"x\":576,\"y\":264,\"point\":18,\"radius\":24},{\"x\":576,\"y\":288,\"point\":18,\"radius\":24},{\"x\":600,\"y\":72,\"point\":41,\"radius\":24},{\"x\":600,\"y\":96,\"point\":41,\"radius\":24},{\"x\":600,\"y\":120,\"point\":41,\"radius\":24},{\"x\":600,\"y\":144,\"point\":41,\"radius\":24},{\"x\":600,\"y\":168,\"point\":41,\"radius\":24},{\"x\":600,\"y\":264,\"point\":20,\"radius\":24},{\"x\":600,\"y\":288,\"point\":20,\"radius\":24},{\"x\":624,\"y\":72,\"point\":42,\"radius\":24},{\"x\":624,\"y\":96,\"point\":42,\"radius\":24},{\"x\":624,\"y\":120,\"point\":42,\"radius\":24},{\"x\":624,\"y\":144,\"point\":42,\"radius\":24},{\"x\":624,\"y\":168,\"point\":42,\"radius\":24},{\"x\":624,\"y\":264,\"point\":22,\"radius\":24},{\"x\":624,\"y\":288,\"point\":22,\"radius\":24},{\"x\":624,\"y\":312,\"point\":19,\"radius\":24},{\"x\":624,\"y\":336,\"point\":17,\"radius\":24},{\"x\":648,\"y\":72,\"point\":37,\"radius\":24},{\"x\":648,\"y\":96,\"point\":37,\"radius\":24},{\"x\":648,\"y\":120,\"point\":37,\"radius\":24},{\"x\":648,\"y\":144,\"point\":37,\"radius\":24},{\"x\":648,\"y\":168,\"point\":37,\"radius\":24},{\"x\":648,\"y\":264,\"point\":21,\"radius\":24},{\"x\":648,\"y\":288,\"point\":21,\"radius\":24},{\"x\":648,\"y\":312,\"point\":19,\"radius\":24},{\"x\":648,\"y\":336,\"point\":17,\"radius\":24},{\"x\":672,\"y\":72,\"point\":34,\"radius\":24},{\"x\":672,\"y\":96,\"point\":34,\"radius\":24},{\"x\":672,\"y\":120,\"point\":34,\"radius\":24},{\"x\":672,\"y\":144,\"point\":34,\"radius\":24},{\"x\":672,\"y\":168,\"point\":34,\"radius\":24},{\"x\":672,\"y\":264,\"point\":28,\"radius\":24},{\"x\":672,\"y\":288,\"point\":28,\"radius\":24},{\"x\":672,\"y\":312,\"point\":19,\"radius\":24},{\"x\":672,\"y\":336,\"point\":17,\"radius\":24},{\"x\":696,\"y\":72,\"point\":24,\"radius\":24},{\"x\":696,\"y\":96,\"point\":24,\"radius\":24},{\"x\":696,\"y\":120,\"point\":24,\"radius\":24},{\"x\":696,\"y\":144,\"point\":24,\"radius\":24},{\"x\":696,\"y\":168,\"point\":24,\"radius\":24},{\"x\":696,\"y\":264,\"point\":27,\"radius\":24},{\"x\":696,\"y\":288,\"point\":27,\"radius\":24},{\"x\":720,\"y\":72,\"point\":61,\"radius\":24},{\"x\":720,\"y\":96,\"point\":61,\"radius\":24},{\"x\":720,\"y\":120,\"point\":61,\"radius\":24},{\"x\":720,\"y\":144,\"point\":61,\"radius\":24},{\"x\":720,\"y\":168,\"point\":61,\"radius\":24},{\"x\":720,\"y\":264,\"point\":44,\"radius\":24},{\"x\":720,\"y\":288,\"point\":44,\"radius\":24},{\"x\":744,\"y\":72,\"point\":54,\"radius\":24},{\"x\":744,\"y\":96,\"point\":56,\"radius\":24},{\"x\":744,\"y\":120,\"point\":55,\"radius\":24},{\"x\":744,\"y\":144,\"point\":52,\"radius\":24},{\"x\":744,\"y\":168,\"point\":51,\"radius\":24},{\"x\":744,\"y\":192,\"point\":50,\"radius\":24},{\"x\":744,\"y\":216,\"point\":49,\"radius\":24},{\"x\":744,\"y\":240,\"point\":46,\"radius\":24},{\"x\":744,\"y\":264,\"point\":43,\"radius\":24},{\"x\":744,\"y\":288,\"point\":43,\"radius\":24},{\"x\":744,\"y\":312,\"point\":48,\"radius\":24},{\"x\":744,\"y\":336,\"point\":45,\"radius\":24},{\"x\":768,\"y\":72,\"point\":54,\"radius\":24},{\"x\":768,\"y\":96,\"point\":53,\"radius\":24},{\"x\":768,\"y\":120,\"point\":53,\"radius\":24},{\"x\":768,\"y\":144,\"point\":53,\"radius\":24},{\"x\":768,\"y\":168,\"point\":53,\"radius\":24},{\"x\":768,\"y\":192,\"point\":47,\"radius\":24},{\"x\":768,\"y\":216,\"point\":47,\"radius\":24},{\"x\":768,\"y\":240,\"point\":47,\"radius\":24},{\"x\":768,\"y\":264,\"point\":47,\"radius\":24},{\"x\":768,\"y\":288,\"point\":47,\"radius\":24},{\"x\":768,\"y\":312,\"point\":48,\"radius\":24},{\"x\":768,\"y\":336,\"point\":45,\"radius\":24}]",
                "vt": "json"
            },
            {
                "p": "CORE_STEPS",
                "v": "[[],[6,4,2,3,1,5,14,11,42,22,19,17,37,21,34,28,24,61,54,56,55,52,51,53],[8,6,4,3,1,5,13,14,16,15,22,19,37,21,34,28,24,61,54,56,55,52,51,53],[6,4,2,3,57,7,5,14,11,19,17,34,24,61,54,56,55,52,51,53],[5],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,2,3,1,14,11,19,17,37,34,24,61,56,55,52,51],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[8,6,4,3,1,14,11,19,17,37,34,24,61,56,55,52,51],[6,4,2,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,14,11,19,17,37,34,24,61,56,55,52,51],[8,6,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,1,5,14,11,19,17,37,34,24,61,56,55,52,51],[6,4,3,1,13,14,11,16,15,42,22,19,17,37,21,34,28,24,61],[6,4,3,57,7,5,13,14,16,15,41,42,22,19,37,21,34,28,24],[6,4,3,57,7,5,13,14,11,16,15,42,22,19,17,37,21,34,28,24,61],[6,4,3,57,7,5,14,11,41,42,19,17,37,34],[6,4,3,57,7,5,13,14,16,15,23,41,42,22,19,37,21,28],[6,4,3,57,7,5,14,11,41,42,19,17,37,34],[6,4,3,57,7,5,13,14,16,15,42,22,19,37,21,34,28,24],[6,4,3,57,7,5,14,11,19,17,37,34,24,61],[6,4,3,57,7,5,13,14,16,15,42,22,19,37,21,34,28,24],[6,4,3,57,7,5,14,11,19,17,37,34,24,61],[6,4,3,1,5,13,14,16,15,22,19,21,34,28,24,61,56,55,52,51],[6,4,3,57,7,5,14,11,19,17,24,61,54,56,55,52,51,53],[6,4,3,1,5,13,14,16,15,22,19,21,34,28,24,61,56,55,52,51],[6,4,3,57,7,5,14,11,19,17,24,61,54,56,55,52,51,53],[6,4,3,1,5,13,14,16,15,22,19,21,28,61,54,56,55,52,51,50,49,46,43,53,47],[6,4,3,57,7,5,13,14,16,15,22,19,21,28,54,56,55,52,51,50,49,46,43,48,53,47],[6,4,3,57,7,5,13,14,16,15,22,19,21,28,54,56,55,52,51,50,49,46,43,48,53,47],[6,4,3,1,5,13,14,16,15,22,19,21,28,56,55,52,51,50,49,46,43,48,45,53,47],[6,4,3,57,7,5,14,11,19,17,54,56,55,52,51,50,49,46,43,48,53,47],[6,4,3,1,5,13,14,16,15,22,19,21,28,61,54,56,55,52,51,50,49,46,43,53,47],[6,4,3,57,7,5,14,11,19,17,24,61,54,56,55,52,51,50,49,46,43,53],[6,4,3,57,7,5,13,14,16,15,22,19,17,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,14,11,22,19,37,21,34,28,24,27,61,56,55,52,51],[6,4,3,1,5,13,14,16,15,42,22,19,37,21,34,28,24,27,61,44,55],[6,4,3,57,7,5,14,11,41,42,22,19,37,21,34,28,24,27,44,43],[6,4,3,57,7,5,13,14,16,15,42,22,37,21,34,28,24,27,44,49,46,43],[6,4,3,57,7,5,14,11,41,42,37,34,28,27,44,50,49,46,43],[6,4,3,57,7,5,13,14,16,15,42,37,34,24,44,52,51,50,49,46,43],[6,4,3,57,7,5,13,14,16,15,41,42,37,34,55,52,51,50,49,46,43],[6,4,3,57,7,5,13,14,16,15,23,41,42,37,56,55,52,51,50,49,46],[6,4,3,57,7,5,13,14,16,15,23,41,42,37,56,55,52,51,50,49,46],[6,4,3,57,7,5,13,14,16,15,23,41,42,37,56,55,52,51,50],[6,4,3,57,7,5,14,11,23,41,42,55,52,51,50,49],[6,4,3,1,7,5,13,14,16,15,23,41,42,52,51,50,49,46],[6,4,3,57,7,5,14,11,23,41,42,51,50,49,46,43],[6,4,3,57,7,5,13,14,16,15,23,41,42,52,51,50,49,46],[6,4,3,57,7,5,14,11,23,41,42,55,52,51,50,49],[6,4,3,57,7,5,13,14,16,15,23,41,42,56,55,52,51,50],[6,4,3,57,7,5,14,11,23,41,42,52,51,50,49,46],[6,4,3,57,7,5,13,14,16,15,23,41,42,51,50,49,46,43],[6,4,3,57,7,5,14,11,23,41,42,47],[6,4,3,57,7,5,13,14,16,15,23,41,42,52,51,50,49,46,43],[6,4,3,57,7,5,14,11,23,41,42,47],[6,4,3,57,7,5,13,14,16,15,23,41,42,52,51,50,49,46,43],[6,4,3,57,7,5,14,11,23,41,42,47],[6,4,3,57,7,5,13,14,16,15,23,41,42,52,51,50,49,46,43],[6,4,3,57,7,5,14,11,23,41,42,47],[6,4,3,57,7,5,13,14,16,15,23,41,42,52,51,50,49,46,43],[6,4,3,57,7,5,14,11,23,41,42,47],[6,4,3,57,7,5,13,14,16,15,23,41,42,52,51,50,49,46,43],[6,4,3,57,7,5,14,11,23,41,42,47],[6,4,3,57,7,5,14,11,23,41,42,47],[6,4,3,57,7,5,13,14,16,15,23,41,42,52,51,50,49,46,43],[6,4,3,1,5,12,13,14,16,15,23,18,41,20,42,61,55,52,51,50,49,46],[6,4,3,1,5,12,13,16,15,23,18,41,20,42,22,21,61,56,55,52,51,50],[6,4,3,1,5,13,16,15,23,18,41,20,42,22,21,28,61,56,55,52,51],[6,4,3,57,7,5,16,15,23,18,41,20,42,22,37,21,28,24,27,61,55],[6,4,3,57,7,5,15,23,18,41,20,42,22,37,21,34,28,24,27,44],[6,4,3,57,7,5,23,18,41,20,42,22,37,21,34,28,27,44,43],[6,4,3,57,7,5,23,41,20,42,22,37,21,28,27,44,49,46,43],[6,4,3,57,7,5,23,41,42,22,37,21,28,27,44,51,50,49,46,43],[6,4,3,57,7,5,23,41,42,37,21,34,28,27,44,51,50,49,46,43],[6,4,3,57,7,5,23,41,42,37,27,44,55,52,51,50,49,46,43],[6,4,3,57,7,5,23,41,42,37,56,55,52,51,50,49,46,43],[6,4,3,57,7,5,23,41,42,37,56,55,52,51,50,49,46,43],[6,4,3,57,7,5,23,41,42,37,56,55,52,51,50,49,46],[6,4,3,57,7,5,23,41,42,37,56,55,52,51,50],[6,4,3,57,7,5,23,41,42,37,56,55,52,51],[6,4,3,57,7,5,23,41,42,37,55,52,51,50,49],[6,4,3,57,7,5,23,41,42,37,52,51,50,49,46],[6,4,3,57,7,5,23,41,42,37,51,50,49,46,43],[6,4,3,57,7,5,23,41,42,37,52,51,50,49,46],[6,4,3,57,7,5,23,41,42,37,56,55,52,51,50],[6,4,3,57,7,5,23,41,42,37,55,52,51,50,49],[6,4,3,57,7,5,23,41,42,37,52,51,50,49,46],[6,4,3,57,7,5,23,41,42,37,51,50,49,46,43],[6,4,3,57,7,5,41,42,37,34,24,47],[6,4,3,57,7,5,23,41,42,37,34,52,51,50,49,46,43],[6,4,3,57,7,5,41,42,37,34,24,47],[6,4,3,57,7,5,23,41,42,37,34,51,50,49,46,43],[6,4,3,57,7,5,41,42,37,34,24,47],[6,4,3,57,7,5,23,41,42,37,34,52,51,50,49,46,43],[6,4,3,57,7,5,41,42,37,34,24,47],[6,4,3,57,7,5,23,41,42,37,34,52,51,50,49,46,43],[6,4,3,57,7,5,64,23,41,42,37,47],[6,4,3,57,7,5,64,23,41,42,52,51,50,49,46,43],[6,4,3,57,7,5,64,23,41,42,47],[6,4,3,57,7,5,64,23,41,42,47],[6,4,3,1,7,5,23,41,42,37,52,51,50,49,46,43],[6,4,3,57,7,5,64,23,41,42,55,52,51,50,49,46],[6,4,3,57,7,5,64,23,41,42,61,52,51,50,49],[6,4,3,57,7,5,64,23,41,42,61,56,55,52,51],[6,4,3,57,7,5,64,23,41,42,24,61,55],[6,4,3,57,7,5,64,23,41,34,24],[6,4,3,57,7,5,64,23,41,37,34],[6,4,3,57,7,5,64,23,41,37],[6,4,3,57,7,5,64,23,41,37],[6,4,3,1,5,64,23,41,37],[6,4,3,57,7,5,64,23,41,37],[6,4,3,1,64,23,41,37],[6,4,3,57,7,5,64,23,41,37],[6,4,57,7,5,10,9,64,23,41,37],[6,4,57,7,10,9,12,13,64,23,41,37],[6,4,10,9,12,13,16,64,15,23,41,37],[6,4,9,12,13,16,64,15,23,18,41,20,37],[6,4,12,13,16,64,15,23,18,41,20,22,37],[6,4,13,16,64,15,23,18,41,20,22,37,21],[6,4,64,15,23,18,41,20,22,37,21,28,27],[6,4,64,23,18,41,20,22,37,21,28,27,44],[6,4,64,23,41,20,22,37,21,28,27,44,43],[6,4,64,23,41,22,37,21,28,27,44,46,43],[6,4,64,23,41,37,28,27,44,50,49,46,43],[6,4,64,23,41,37,28,27,44,50,49,46,43],[6,4,64,23,41,37,27,44,51,50,49,46,43],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,55,52,51,50,49,46],[6,4,64,23,41,37,56,55,52,51,50],[6,4,64,23,41,37,56,55,52,51,50],[6,4,64,23,41,37,56,55,52,51,50],[6,4,64,23,41,37,55,52,51,50,49],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,56,55,52,51,50,49,46],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,56,55,52,51,50,49,46],[6,4,64,23,41,37,56,55,52,51,50],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,55,52,51,50,49],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,47],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,47],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,47],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,47],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,47],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,47],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,47],[6,4,64,23,41,37,47],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,55,52,51,50,49,46],[6,4,64,23,41,37,61,55,52,51,50],[6,4,64,23,41,37,61,56,55,52],[6,4,64,23,41,37,61,56,55],[6,4,64,23,41,42,34,56,55,52,51,50],[6,4,64,23,41,42,34,55,52,51,50,49],[6,4,64,23,41,42,34,55,52,51,50,49,46],[6,4,64,23,41,42,34,55,52,51,50,49,46,43],[6,4,64,23,41,42,34,55,52,51,50,49,46,43],[6,4,64,23,41,42,34,44,52,51,50,49,46,43],[6,4,64,23,41,42,34,27,44,52,51,50,49,46,43],[6,4,64,23,41,42,34,50,49,46,43,47],[6,4,64,23,41,42,34,27,44,49,46,43],[6,4,64,23,41,42,21,34,28,27,44,49,46,43],[6,4,64,23,41,42,22,21,34,28,27,44,46,43],[6,4,64,23,41,20,42,22,21,34,28,27,44,43],[6,4,64,23,18,41,20,42,22,21,34,28,27,44],[6,4,64,15,23,18,41,20,42,22,21,34,28,27],[6,4,16,64,15,23,18,41,20,42,22,21,34,28],[6,4,13,16,64,15,23,18,41,20,42,22,21,34],[6,4,12,13,16,64,15,23,18,41,20,42,22,34],[6,4,9,12,13,16,64,15,23,18,41,20,42,34],[6,4,10,9,12,13,16,64,15,23,18,41,42,34],[6,4,57,7,10,9,12,13,16,64,15,23,41,42,34],[6,4,57,7,5,10,9,12,13,64,23,41,42,34],[6,4,3,57,7,5,10,9,12,64,23,41,42,34],[6,4,3,57,7,5,10,64,23,41,42,34],[6,4,57,7,5,64,23,41,42,34],[6,4,59,57,7,5,58,64,23,41,42,34],[6,4,3,1,59,5,58,64,23,41,42,34],[6,4,60,3,59,5,64,23,41,42,34],[6,4,62,60,7,5,64,23,41,42,34],[6,4,63,62,57,7,5,64,23,41,42,34],[6,4,25,63,59,57,7,58,64,23,41,42,34],[6,4,26,25,3,1,59,5,58,64,23,41,42,34],[6,4,30,26,60,3,59,5,64,23,41,42,34],[6,4,29,30,62,60,7,5,64,23,41,42,34],[6,4,32,29,63,62,57,7,5,64,23,41,42,34],[6,4,31,32,25,63,59,57,7,58,64,23,41,42,34],[6,4,33,31,26,25,3,1,59,5,58,64,23,41,42,34],[6,4,36,33,30,26,60,3,1,59,5,64,23,41,42,34],[6,4,35,36,29,30,62,60,3,1,7,5,64,23,41,42,34],[6,4,38,35,32,29,63,62,3,1,7,5,64,23,41,42,34],[6,4,40,38,31,32,25,63,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[8,6,4,3,1,7,5,23,41,42,37,34,24,61],[39,8,6,40,33,31,26,25,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51],[8,6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[39,8,6,40,33,31,26,25,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[39,8,6,40,33,31,26,25,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[39,8,6,40,33,31,26,25,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[39,8,6,40,33,31,26,25,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[8,6,4,3,1,7,5,23,41,42,37,34,24,61],[39,8,6,40,33,31,26,25,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51],[8,6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[39,8,6,40,33,31,26,25,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[39,8,6,40,33,31,26,25,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[39,8,6,40,33,31,26,25,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53]]",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "1ce20b9c79b0790f"
            ]
        ]
    },
    {
        "id": "f879965489f66e18",
        "type": "function",
        "z": "ecb7ed79ba721ac5",
        "name": "echart options",
        "func": "function echart_options(step, CORE_STEPS, MAP_COOR) {\n    let current_points = CORE_STEPS[step];\n    return {\n        graphic: MAP_COOR.map(function (item) {\n            return { // Position the entire rotated group at the right-bottom corner of its container.\n                type: 'group',\n                // rotation: Math.PI / 4,\n                // right: item.x * 0.8 - 10,  // Position at the right boundary.\n                // bottom: item.y * 0.8 - 40, // Position at the bottom boundary.\n                position: [item.x * 0.8 - 0 , item.y * 0.8 - 40],\n                // position: [item.x * 0.8, item.y * 0.8],\n                // Scale, using [1, 1] by default.\n                // scale: [0.6, 0.6],\n\n                children: [\n                    {\n                        type: 'circle',\n                        shape: {\n                            cx: 0,\n                            cy: 0,\n                            r: 10\n                        },\n                        style: {\n                            fill: current_points.includes(item.point) ? '#8ec3d8' : '#fff', \n                            stroke: '#999',\n                            lineWidth: 2,\n                            shadowBlur: 8,\n                            shadowOffsetX: 3,\n                            shadowOffsetY: 3,\n                            shadowColor: 'rgba(0,0,0,0.3)'\n                        }\n                    },\n                    {\n                        type: 'text',\n                        left: 'center', // Position at horizontal center according to its parent.\n                        top: 'middle',  // Position at vertical center according to its parent.\n                        style: {\n                            fill: '#777',\n                            text: item.point,\n                            font: '14px Microsoft YaHei'\n                        }\n                    }\n                ]\n            }\n        })\n    }\n}\n\nmsg.payload = echart_options(\n    msg.payload, \n    global.get(\"CORE_STEPS\"), \n    global.get(\"MAP_COOR\")\n    );\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 220,
        "wires": [
            [
                "0fcc6f74e740a064"
            ]
        ]
    },
    {
        "id": "2f9073a69cd71789",
        "type": "ui_template",
        "z": "ecb7ed79ba721ac5",
        "group": "3aeed3b66cedadf0",
        "name": "",
        "order": 0,
        "width": "21",
        "height": "12",
        "format": "<div id=\"{{'my_'+$id}}\" ng-bind-html=\"msg.payload | trusted\"></div>\n\n<script>\n(function(scope) {\n\n  scope.$watch('msg', function(newValue,oldValue,scope) {\n\n    let my = $(\"#my_\"+scope.$id);\n\n    console.log('- Scope.msg -')\n    // console.dir(scope)\n    console.dir(newValue)\n    console.dir(oldValue)\n    console.dir(scope.msg)\n    console.dir(my)\n    \n    if (newValue) {      \n      if (typeof(newValue) != \"undefined\" && typeof(oldValue) != \"undefined\"){\n          if (newValue.cnt != oldValue.cnt){\n              console.log(\"Button is pressed!\");            \n          }\n      }      \n      $(\"#my_\"+scope.$id).html(newValue.payload);\n    }\n  });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "3891d1e144640ac5",
        "type": "function",
        "z": "ecb7ed79ba721ac5",
        "name": "send: 0-29",
        "func": "for(var x = 1; x < 30; x++) {\n    node.send({payload: x});\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 260,
        "wires": [
            [
                "0107aea836a42488"
            ]
        ]
    },
    {
        "id": "0107aea836a42488",
        "type": "delay",
        "z": "ecb7ed79ba721ac5",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "f879965489f66e18",
                "ea5ca7402876c704"
            ]
        ]
    },
    {
        "id": "1ce20b9c79b0790f",
        "type": "change",
        "z": "ecb7ed79ba721ac5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "MAP_COOR",
                "pt": "global",
                "to": "MAP_COOR",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "CORE_STEPS",
                "pt": "global",
                "to": "CORE_STEPS",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "3891d1e144640ac5"
            ]
        ]
    },
    {
        "id": "225b77a213e5547d",
        "type": "ui_template",
        "z": "ecb7ed79ba721ac5",
        "group": "3aeed3b66cedadf0",
        "name": "",
        "order": 0,
        "width": "21",
        "height": "12",
        "format": "<div id=\"{{'my_'+$id}}\" ng-bind-html=\"msg.payload | trusted\"></div>\n\n<script>\n(function(scope) {\n\n  scope.$watch('msg', function(newValue,oldValue,scope) {\n\n    let my = $(\"#my_\"+scope.$id);\n\n    console.log('- Scope.msg -')\n    // console.dir(scope)\n    console.dir(newValue)\n    console.dir(oldValue)\n    console.dir(scope.msg)\n    console.dir(my)\n    \n    if (newValue) {      \n      if (typeof(newValue) != \"undefined\" && typeof(oldValue) != \"undefined\"){\n          if (newValue.cnt != oldValue.cnt){\n              console.log(\"Button is pressed!\");            \n          }\n      }      \n      $(\"#my_\"+scope.$id).html(newValue.payload);\n    }\n  });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ea5ca7402876c704",
        "type": "ui_digital_display",
        "z": "ecb7ed79ba721ac5",
        "name": "",
        "group": "3aeed3b66cedadf0",
        "order": 2,
        "width": 0,
        "height": 0,
        "digits": 5,
        "decimals": 1,
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "18d7c8fe5c0bd272",
        "type": "debug",
        "z": "ecb7ed79ba721ac5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 340,
        "wires": []
    },
    {
        "id": "741f9b7e.bd3d34",
        "type": "finite-state-machine",
        "z": "cd27ad32.fb2ce8",
        "name": "",
        "fsmDefinition": "{\"state\":{\"status\":\"IDLE\",\"data\":{\"x\":5}},\"transitions\":{\"IDLE\":{\"toggle\":\"RUNNING\",\"set\":\"IDLE\"},\"RUNNING\":{\"toggle\":\"IDLE\"}}}",
        "sendInitialState": false,
        "sendStateWithoutChange": false,
        "showTransitionErrors": true,
        "x": 480,
        "y": 300,
        "wires": [
            [
                "2c5a6aeb.c6e35e",
                "22380426.fd5b5c",
                "fd0fdc38.21c4c8",
                "19579af6.c76055"
            ]
        ]
    },
    {
        "id": "6f9447ed.5d58",
        "type": "inject",
        "z": "cd27ad32.fb2ce8",
        "name": "set { \"x\" :6 }",
        "props": [
            {
                "p": "data",
                "v": "{ \"x\" :6 }",
                "vt": "json"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "741f9b7e.bd3d34"
            ]
        ]
    },
    {
        "id": "3e18afe6.ce355",
        "type": "inject",
        "z": "cd27ad32.fb2ce8",
        "name": "set { \"x\" :7 }",
        "props": [
            {
                "p": "data",
                "v": "{ \"x\" :7 }",
                "vt": "json"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set",
        "x": 230,
        "y": 380,
        "wires": [
            [
                "741f9b7e.bd3d34"
            ]
        ]
    },
    {
        "id": "d8ffa74c.efa948",
        "type": "inject",
        "z": "cd27ad32.fb2ce8",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "toggle",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "toggle",
        "payload": "",
        "payloadType": "str",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "741f9b7e.bd3d34"
            ]
        ]
    },
    {
        "id": "8ee732f2.01075",
        "type": "debug",
        "z": "cd27ad32.fb2ce8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.data",
        "targetType": "msg",
        "x": 930,
        "y": 280,
        "wires": []
    },
    {
        "id": "2c5a6aeb.c6e35e",
        "type": "rbe",
        "z": "cd27ad32.fb2ce8",
        "name": "dataChanged",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload.data",
        "x": 720,
        "y": 280,
        "wires": [
            [
                "8ee732f2.01075"
            ]
        ]
    },
    {
        "id": "22380426.fd5b5c",
        "type": "rbe",
        "z": "cd27ad32.fb2ce8",
        "name": "stateChanged",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload.status",
        "x": 720,
        "y": 340,
        "wires": [
            [
                "6abdae73.1aaac"
            ]
        ]
    },
    {
        "id": "6abdae73.1aaac",
        "type": "debug",
        "z": "cd27ad32.fb2ce8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.status",
        "targetType": "msg",
        "x": 930,
        "y": 340,
        "wires": []
    },
    {
        "id": "2d6a156e.5f98ca",
        "type": "inject",
        "z": "cd27ad32.fb2ce8",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "set",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set",
        "payload": "",
        "payloadType": "str",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "741f9b7e.bd3d34"
            ]
        ]
    },
    {
        "id": "fd0fdc38.21c4c8",
        "type": "debug",
        "z": "cd27ad32.fb2ce8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.status",
        "targetType": "msg",
        "statusVal": "payload.status",
        "statusType": "auto",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "19579af6.c76055",
        "type": "debug",
        "z": "cd27ad32.fb2ce8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.data",
        "targetType": "msg",
        "statusVal": "payload.data",
        "statusType": "auto",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "47aa9b50.b6825c",
        "type": "finite-state-machine",
        "z": "854a9f95.2f9f7",
        "name": "",
        "fsmDefinition": "{\"state\":{\"status\":\"IDLE\",\"data\":{\"x\":5}},\"transitions\":{\"IDLE\":{\"run\":\"RUNNING\"},\"RUNNING\":{\"stop\":\"IDLE\",\"set\":\"RUNNING\"}}}",
        "sendInitialState": false,
        "showTransitionErrors": true,
        "x": 480,
        "y": 160,
        "wires": [
            [
                "a8262434.cf7498",
                "95e4cda8ef7f4206"
            ]
        ]
    },
    {
        "id": "87fbee09.255fe8",
        "type": "inject",
        "z": "854a9f95.2f9f7",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "run",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "run",
        "payload": "",
        "payloadType": "str",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "47aa9b50.b6825c"
            ]
        ]
    },
    {
        "id": "a8262434.cf7498",
        "type": "switch",
        "z": "854a9f95.2f9f7",
        "name": "onRUNNING",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "RUNNING",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 140,
        "wires": [
            [
                "1bb1822b.773f76"
            ]
        ]
    },
    {
        "id": "1bb1822b.773f76",
        "type": "delay",
        "z": "854a9f95.2f9f7",
        "name": "delay 5s",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 880,
        "y": 320,
        "wires": [
            [
                "983f9b74.7bcbd8"
            ]
        ]
    },
    {
        "id": "983f9b74.7bcbd8",
        "type": "change",
        "z": "854a9f95.2f9f7",
        "name": "set msg.topic to stop",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 260,
        "wires": [
            [
                "47aa9b50.b6825c"
            ]
        ]
    },
    {
        "id": "a0a931fb.60bc4",
        "type": "comment",
        "z": "854a9f95.2f9f7",
        "name": "sending topic \"run\" will trigger the machine which is stopped 5 seconds later",
        "info": "",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "95e4cda8ef7f4206",
        "type": "debug",
        "z": "854a9f95.2f9f7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 160,
        "wires": []
    },
    {
        "id": "70d24837.fa7bb8",
        "type": "finite-state-machine",
        "z": "854a9f95.2f9f7",
        "name": "",
        "fsmDefinition": "{\"state\":{\"status\":\"IDLE\"},\"transitions\":{\"IDLE\":{\"toggleState\":\"RUNNING\"},\"RUNNING\":{\"toggleState\":\"IDLE\"}}}",
        "sendInitialState": false,
        "showTransitionErrors": true,
        "x": 470,
        "y": 520,
        "wires": [
            [
                "236d8d.5ef6da74"
            ]
        ]
    },
    {
        "id": "236d8d.5ef6da74",
        "type": "debug",
        "z": "854a9f95.2f9f7",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 710,
        "y": 520,
        "wires": []
    },
    {
        "id": "701f2b41.e4ecb4",
        "type": "inject",
        "z": "854a9f95.2f9f7",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "toggleState",
        "payload": "",
        "payloadType": "str",
        "x": 240,
        "y": 520,
        "wires": [
            [
                "70d24837.fa7bb8"
            ]
        ]
    },
    {
        "id": "a75e8c2f.0b2378",
        "type": "comment",
        "z": "854a9f95.2f9f7",
        "name": "sending topic \"toggleState\" toggles between the two states",
        "info": "",
        "x": 410,
        "y": 460,
        "wires": []
    },
    {
        "id": "a0edf135.e14588",
        "type": "finite-state-machine",
        "z": "70d12b2e.625c9c",
        "name": "",
        "fsmDefinition": "{\"state\":{\"status\":\"IDLE\",\"data\":{\"x\":99}},\"transitions\":{\"IDLE\":{\"run\":{\"status\":\"RUNNING\",\"data\":{\"x\":42}}},\"RUNNING\":{\"stop\":{\"status\":\"IDLE\",\"data\":{\"x\":0}},\"set\":\"RUNNING\"}}}",
        "sendInitialState": false,
        "sendStateWithoutChange": false,
        "showTransitionErrors": true,
        "x": 600,
        "y": 260,
        "wires": [
            [
                "cb19a198.11647",
                "b1877454.ee2168"
            ]
        ]
    },
    {
        "id": "9befd239.ea94b",
        "type": "inject",
        "z": "70d12b2e.625c9c",
        "name": "reset",
        "props": [
            {
                "p": "control",
                "v": "reset",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "a0edf135.e14588"
            ]
        ]
    },
    {
        "id": "456671ae.4a071",
        "type": "comment",
        "z": "70d12b2e.625c9c",
        "name": "sending topic \"reset\" will set the state machine to its initial state",
        "info": "",
        "x": 380,
        "y": 80,
        "wires": []
    },
    {
        "id": "bcc44c08.7c6d08",
        "type": "inject",
        "z": "70d12b2e.625c9c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "run",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "a0edf135.e14588"
            ]
        ]
    },
    {
        "id": "201e40f8.865b2",
        "type": "inject",
        "z": "70d12b2e.625c9c",
        "name": "data = {\"x\" : 2, \"name\" : \"peter\"}",
        "props": [
            {
                "p": "data",
                "v": "{\"x\" : 2, \"name\" : \"peter\"}",
                "vt": "json"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set",
        "x": 290,
        "y": 400,
        "wires": [
            [
                "a0edf135.e14588"
            ]
        ]
    },
    {
        "id": "61fd9c83.dd95fc",
        "type": "inject",
        "z": "70d12b2e.625c9c",
        "name": "data = {\"y\" : 3}",
        "props": [
            {
                "p": "data",
                "v": "{\"y\" : 3}",
                "vt": "json"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set",
        "x": 240,
        "y": 440,
        "wires": [
            [
                "a0edf135.e14588"
            ]
        ]
    },
    {
        "id": "c6add2b4.c41ee",
        "type": "comment",
        "z": "70d12b2e.625c9c",
        "name": "any other topic will trigger a transition",
        "info": "",
        "x": 290,
        "y": 200,
        "wires": []
    },
    {
        "id": "a4c93b9f.44d3f",
        "type": "inject",
        "z": "70d12b2e.625c9c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "stop",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "a0edf135.e14588"
            ]
        ]
    },
    {
        "id": "3b5f9a43.cdf68e",
        "type": "comment",
        "z": "70d12b2e.625c9c",
        "name": "by sending a JSON object as payload you can add data to the state",
        "info": "",
        "x": 380,
        "y": 360,
        "wires": []
    },
    {
        "id": "cb19a198.11647",
        "type": "debug",
        "z": "70d12b2e.625c9c",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.status",
        "targetType": "msg",
        "statusVal": "payload.status",
        "statusType": "auto",
        "x": 880,
        "y": 220,
        "wires": []
    },
    {
        "id": "b1877454.ee2168",
        "type": "debug",
        "z": "70d12b2e.625c9c",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.data",
        "targetType": "msg",
        "x": 880,
        "y": 300,
        "wires": []
    },
    {
        "id": "2161d04e.04188",
        "type": "inject",
        "z": "3a57f4c3.6a129c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "given food",
        "payload": "",
        "payloadType": "str",
        "x": 260,
        "y": 300,
        "wires": [
            [
                "6673b726.95c6b8"
            ]
        ]
    },
    {
        "id": "8055f738.2d2408",
        "type": "inject",
        "z": "3a57f4c3.6a129c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "tired",
        "payload": "",
        "payloadType": "str",
        "x": 250,
        "y": 460,
        "wires": [
            [
                "6673b726.95c6b8"
            ]
        ]
    },
    {
        "id": "6203b5b5.1bf03c",
        "type": "inject",
        "z": "3a57f4c3.6a129c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "bored",
        "payload": "",
        "payloadType": "str",
        "x": 250,
        "y": 500,
        "wires": [
            [
                "6673b726.95c6b8"
            ]
        ]
    },
    {
        "id": "c4052841.b88358",
        "type": "inject",
        "z": "3a57f4c3.6a129c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "given toy",
        "payload": "",
        "payloadType": "str",
        "x": 260,
        "y": 420,
        "wires": [
            [
                "6673b726.95c6b8"
            ]
        ]
    },
    {
        "id": "fb2ba5a4.7d69d8",
        "type": "inject",
        "z": "3a57f4c3.6a129c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "wake up",
        "payload": "",
        "payloadType": "str",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "6673b726.95c6b8"
            ]
        ]
    },
    {
        "id": "df45ec1f.3afd6",
        "type": "debug",
        "z": "3a57f4c3.6a129c",
        "name": "Cat output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 790,
        "y": 440,
        "wires": []
    },
    {
        "id": "7ea8c4d5.401bbc",
        "type": "debug",
        "z": "3a57f4c3.6a129c",
        "name": "State",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "6673b726.95c6b8",
        "type": "smxstate",
        "z": "3a57f4c3.6a129c",
        "name": "sm-cat ",
        "xstateDefinition": "// Import shorthands from xstate object\nconst { assign } = xstate; \n\n// First define names guards, actions, ...\n\n/**\n * Guards\n */\nconst bellyFull = (context, event) => {\n  return context.belly >= 100;\n};\n\nconst bellyEmpty = (context, event) => {\n    return context.belly <= 0;\n}\n\nconst bellyNotEmpty = (context, event) => {\n    return context.belly > 0;\n}\n\n/**\n * Actions\n */\nconst updateBelly = assign({\n    belly: (context, ev) => Math.max(\n        Math.min(\n            context.belly+ev.value,100\n        ), 0)\n});\n\n/**\n * Activities\n */\nconst meow = () => {\n  const interval = setInterval(() => node.send({payload: \"MEOW!\"}), 2000);\n  return () => clearInterval(interval);\n};\n\n/**\n * Services\n * see https://xstate.js.org/docs/guides/communication.html#invoking-callbacks\n */\nconst eat = (ctx, ev) => (cb) => {\n    const id = setInterval(() => cb({\n      type: 'eaten',\n      value: 5\n    }),500);\n    return () => clearInterval(id);\n};\n\nconst digest = (ctx, ev) => (cb) => {\n    const id = setInterval(() => cb({\n      type: 'digested',\n      value: -5\n    }),500);\n    return () => clearInterval(id);\n}\n\n/***************************\n * Main machine definition * \n ***************************/\n return {\n  machine: {\n    context: {\n        belly: 0    // Belly state, 100 means full, 0 means empty\n    },\n    initial: 'sleep',\n    states: {\n      sleep: {\n          on: {\n              'wake up': 'meow',\n          }\n      },\n      meow: {\n          invoke: { src: 'digest' },\n          on: {\n              'given toy': { target: 'play', cond: 'belly not empty' },\n              'given food': 'eat',\n              'digested': { actions: 'updateBelly' }\n          },\n          activities: ['meow']\n      },\n      play: {\n          invoke: { src: 'digest' },\n          on: {\n              tired: 'sleep',\n              bored: 'sleep',\n              'digested': { actions: 'updateBelly' },\n              '': { target: 'meow', cond: 'belly empty' }\n          },\n          after: {\n              5000: 'sleep',\n          }\n      },\n      eat: {\n          invoke: { src: 'eat' },\n          on: {\n              '': { target: 'sleep', cond: 'belly full' },\n              'no more food': { target: 'meow' },\n              'eaten': { actions: 'updateBelly' }\n          }\n      }\n    }\n  },\n  // Configuration containing guards, actions, activities, ...\n  // see above\n  config: {\n      guards: { \"belly full\": bellyFull, \"belly not empty\": bellyNotEmpty, \"belly empty\": bellyEmpty },\n      activities: { meow },\n      actions: { updateBelly },\n      services: { eat, digest }\n  }\n}",
        "noerr": 0,
        "x": 530,
        "y": 400,
        "wires": [
            [
                "7ea8c4d5.401bbc"
            ],
            [
                "df45ec1f.3afd6"
            ]
        ]
    },
    {
        "id": "ea1f8a96.72e8e8",
        "type": "inject",
        "z": "3a57f4c3.6a129c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "no more food",
        "payload": "",
        "payloadType": "str",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "6673b726.95c6b8"
            ]
        ]
    }
]