node_red_base/flows.json
[
    {
        "id": "ecb7ed79ba721ac5",
        "type": "tab",
        "label": "echarts",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "cd27ad32.fb2ce8",
        "type": "tab",
        "label": "State machine with rbe",
        "disabled": true,
        "info": ""
    },
    {
        "id": "854a9f95.2f9f7",
        "type": "tab",
        "label": "State machine with feedback flow",
        "disabled": true,
        "info": ""
    },
    {
        "id": "70d12b2e.625c9c",
        "type": "tab",
        "label": "Simple state machine with data object",
        "disabled": true,
        "info": ""
    },
    {
        "id": "3a57f4c3.6a129c",
        "type": "tab",
        "label": "SM-Cat Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "a72c14cefa22398c",
        "type": "tab",
        "label": "dsm",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "a35c3d75.a435b",
        "type": "tab",
        "label": "Automation",
        "disabled": true,
        "info": ""
    },
    {
        "id": "4f44ff00.dee59",
        "type": "tab",
        "label": "break director",
        "disabled": true,
        "info": ""
    },
    {
        "id": "39511f3b3e75d1cc",
        "type": "tab",
        "label": "Simple Demo",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "d63dc3e1a8ada448",
        "type": "tab",
        "label": "state machine test",
        "disabled": true,
        "info": "",
        "env": []
    },
    {
        "id": "8d6ebfa73499d6c8",
        "type": "subflow",
        "name": "On Delay",
        "info": "",
        "category": "",
        "in": [
            {
                "x": 100,
                "y": 120,
                "wires": [
                    {
                        "id": "8cdd1599e856b60e"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1060,
                "y": 140,
                "wires": [
                    {
                        "id": "2599fe9c8fc7efd4",
                        "port": 0
                    }
                ]
            }
        ],
        "env": [],
        "meta": {},
        "color": "#DDAA99"
    },
    {
        "id": "54caf2dd7f88a0b9",
        "type": "junction",
        "z": "39511f3b3e75d1cc",
        "x": 420,
        "y": 240,
        "wires": [
            [
                "683e3ecff2d9bffc",
                "dd82cc242d245dec",
                "2408343566b252ed"
            ]
        ]
    },
    {
        "id": "d031d868e4b5d98e",
        "type": "junction",
        "z": "39511f3b3e75d1cc",
        "x": 680,
        "y": 300,
        "wires": [
            [
                "fa621fb2b0ac3195",
                "3c884fe5f4e87996",
                "96d59b55d99957c0"
            ]
        ]
    },
    {
        "id": "374914cbf380c7c1",
        "type": "junction",
        "z": "39511f3b3e75d1cc",
        "x": 920,
        "y": 300,
        "wires": [
            [
                "446ae81165bbe7be",
                "5edf45949133843c",
                "bc737443d358eba5",
                "d031d868e4b5d98e"
            ]
        ]
    },
    {
        "id": "dd52936b29fd2896",
        "type": "junction",
        "z": "d63dc3e1a8ada448",
        "x": 560,
        "y": 420,
        "wires": [
            [
                "40177951232e426a",
                "bd9b820f6dae279e",
                "653db74cedc9ec75",
                "d9d26258a55cf2ee",
                "0b5634fd69a4fb13"
            ]
        ]
    },
    {
        "id": "939e3302641baadb",
        "type": "junction",
        "z": "d63dc3e1a8ada448",
        "x": 820,
        "y": 420,
        "wires": [
            [
                "5ee584c748e1b268",
                "9386ceb2b3d1f5c8",
                "33211bc2b327501a",
                "5970541909607984"
            ]
        ]
    },
    {
        "id": "abea91748d3be8bc",
        "type": "junction",
        "z": "d63dc3e1a8ada448",
        "x": 1160,
        "y": 400,
        "wires": [
            [
                "b6ea3365dfae1f25",
                "5bb9b0afc743adb1",
                "9922bd4258811839",
                "939e3302641baadb"
            ]
        ]
    },
    {
        "id": "114af05102a61db8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "03d703646fb2986c",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "3aeed3b66cedadf0",
        "type": "ui_group",
        "name": "Default",
        "tab": "114af05102a61db8",
        "order": 2,
        "disp": true,
        "width": "21",
        "collapse": false,
        "className": ""
    },
    {
        "id": "aa073819f0579451",
        "type": "change",
        "z": "8d6ebfa73499d6c8",
        "name": "Reset",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 570,
        "y": 220,
        "wires": [
            [
                "3904b58de0ad79c0"
            ]
        ]
    },
    {
        "id": "8975728dd07f03db",
        "type": "switch",
        "z": "8d6ebfa73499d6c8",
        "name": "Select",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "false"
            },
            {
                "t": "true"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 450,
        "y": 140,
        "wires": [
            [
                "aa073819f0579451"
            ],
            [
                "2599fe9c8fc7efd4"
            ],
            [
                "3904b58de0ad79c0"
            ]
        ],
        "outputLabels": [
            "reset",
            "false",
            "true"
        ]
    },
    {
        "id": "3904b58de0ad79c0",
        "type": "delay",
        "z": "8d6ebfa73499d6c8",
        "name": "Delay",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 690,
        "y": 180,
        "wires": [
            [
                "9d7141a7a5a9e4cb"
            ]
        ]
    },
    {
        "id": "e1b155fd500be716",
        "type": "comment",
        "z": "8d6ebfa73499d6c8",
        "name": "On Delay",
        "info": "",
        "x": 700,
        "y": 100,
        "wires": []
    },
    {
        "id": "72fc77aafcda0970",
        "type": "change",
        "z": "8d6ebfa73499d6c8",
        "name": "MSG",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "delay",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 330,
        "y": 140,
        "wires": [
            [
                "8975728dd07f03db"
            ]
        ]
    },
    {
        "id": "a02d778c8f201bd8",
        "type": "comment",
        "z": "8d6ebfa73499d6c8",
        "name": "Set Delay",
        "info": "",
        "x": 200,
        "y": 80,
        "wires": []
    },
    {
        "id": "9d7141a7a5a9e4cb",
        "type": "change",
        "z": "8d6ebfa73499d6c8",
        "name": "On",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 830,
        "y": 180,
        "wires": [
            [
                "aa073819f0579451",
                "2599fe9c8fc7efd4"
            ]
        ]
    },
    {
        "id": "2599fe9c8fc7efd4",
        "type": "function",
        "z": "8d6ebfa73499d6c8",
        "name": "Gate",
        "func": "if (msg.payload && context.get(\"timed\")) {\n    context.set(\"timed\", false);\n    return msg;\n} else if (!msg.payload && !context.get(\"timed\")) {\n    context.set(\"timed\", true);\n    return msg;\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"timed\", true);",
        "finalize": "",
        "libs": [],
        "x": 970,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "8cdd1599e856b60e",
        "type": "switch",
        "z": "8d6ebfa73499d6c8",
        "name": "SET?",
        "property": "topic",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "delay",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 190,
        "y": 120,
        "wires": [
            [
                "5d87d2e107c90fd5"
            ],
            [
                "72fc77aafcda0970"
            ]
        ],
        "outputLabels": [
            "set delay",
            "input"
        ]
    },
    {
        "id": "18426fcbf9ba10dd",
        "type": "change",
        "z": "8d6ebfa73499d6c8",
        "name": "Flow",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 450,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "5d87d2e107c90fd5",
        "type": "range",
        "z": "8d6ebfa73499d6c8",
        "minin": "0",
        "maxin": "1",
        "minout": "0",
        "maxout": "1000",
        "action": "scale",
        "round": false,
        "property": "payload",
        "name": "x1000",
        "x": 330,
        "y": 100,
        "wires": [
            [
                "18426fcbf9ba10dd"
            ]
        ]
    },
    {
        "id": "0fcc6f74e740a064",
        "type": "echarts",
        "z": "ecb7ed79ba721ac5",
        "name": "",
        "width": "640",
        "height": "280",
        "x": 860,
        "y": 220,
        "wires": [
            [
                "2f9073a69cd71789",
                "225b77a213e5547d",
                "18d7c8fe5c0bd272"
            ]
        ]
    },
    {
        "id": "7d564f74eb24baa3",
        "type": "inject",
        "z": "ecb7ed79ba721ac5",
        "name": "",
        "props": [
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "MAP_COOR",
                "v": "[{\"x\":24,\"y\":240,\"point\":39,\"radius\":24},{\"x\":24,\"y\":264,\"point\":8,\"radius\":24},{\"x\":24,\"y\":288,\"point\":6,\"radius\":24},{\"x\":24,\"y\":312,\"point\":6,\"radius\":24},{\"x\":24,\"y\":336,\"point\":4,\"radius\":24},{\"x\":24,\"y\":360,\"point\":2,\"radius\":24},{\"x\":48,\"y\":240,\"point\":40,\"radius\":24},{\"x\":48,\"y\":264,\"point\":8,\"radius\":24},{\"x\":48,\"y\":288,\"point\":6,\"radius\":24},{\"x\":48,\"y\":312,\"point\":6,\"radius\":24},{\"x\":48,\"y\":336,\"point\":4,\"radius\":24},{\"x\":48,\"y\":360,\"point\":2,\"radius\":24},{\"x\":72,\"y\":240,\"point\":38,\"radius\":24},{\"x\":96,\"y\":240,\"point\":35,\"radius\":24},{\"x\":120,\"y\":240,\"point\":36,\"radius\":24},{\"x\":144,\"y\":240,\"point\":33,\"radius\":24},{\"x\":144,\"y\":264,\"point\":8,\"radius\":24},{\"x\":144,\"y\":288,\"point\":6,\"radius\":24},{\"x\":144,\"y\":312,\"point\":6,\"radius\":24},{\"x\":144,\"y\":336,\"point\":4,\"radius\":24},{\"x\":144,\"y\":360,\"point\":2,\"radius\":24},{\"x\":168,\"y\":240,\"point\":31,\"radius\":24},{\"x\":168,\"y\":264,\"point\":8,\"radius\":24},{\"x\":168,\"y\":288,\"point\":6,\"radius\":24},{\"x\":168,\"y\":312,\"point\":6,\"radius\":24},{\"x\":168,\"y\":336,\"point\":4,\"radius\":24},{\"x\":168,\"y\":360,\"point\":2,\"radius\":24},{\"x\":192,\"y\":240,\"point\":32,\"radius\":24},{\"x\":216,\"y\":240,\"point\":29,\"radius\":24},{\"x\":240,\"y\":240,\"point\":30,\"radius\":24},{\"x\":264,\"y\":240,\"point\":26,\"radius\":24},{\"x\":264,\"y\":264,\"point\":8,\"radius\":24},{\"x\":264,\"y\":288,\"point\":6,\"radius\":24},{\"x\":264,\"y\":312,\"point\":6,\"radius\":24},{\"x\":264,\"y\":336,\"point\":4,\"radius\":24},{\"x\":264,\"y\":360,\"point\":2,\"radius\":24},{\"x\":288,\"y\":240,\"point\":25,\"radius\":24},{\"x\":288,\"y\":264,\"point\":8,\"radius\":24},{\"x\":288,\"y\":288,\"point\":6,\"radius\":24},{\"x\":288,\"y\":312,\"point\":6,\"radius\":24},{\"x\":288,\"y\":336,\"point\":4,\"radius\":24},{\"x\":288,\"y\":360,\"point\":2,\"radius\":24},{\"x\":312,\"y\":240,\"point\":63,\"radius\":24},{\"x\":336,\"y\":240,\"point\":62,\"radius\":24},{\"x\":360,\"y\":240,\"point\":60,\"radius\":24},{\"x\":360,\"y\":336,\"point\":3,\"radius\":24},{\"x\":360,\"y\":360,\"point\":1,\"radius\":24},{\"x\":384,\"y\":240,\"point\":59,\"radius\":24},{\"x\":384,\"y\":264,\"point\":57,\"radius\":24},{\"x\":384,\"y\":288,\"point\":7,\"radius\":24},{\"x\":384,\"y\":312,\"point\":5,\"radius\":24},{\"x\":384,\"y\":336,\"point\":3,\"radius\":24},{\"x\":384,\"y\":360,\"point\":1,\"radius\":24},{\"x\":408,\"y\":240,\"point\":58,\"radius\":24},{\"x\":408,\"y\":264,\"point\":57,\"radius\":24},{\"x\":408,\"y\":288,\"point\":7,\"radius\":24},{\"x\":408,\"y\":312,\"point\":5,\"radius\":24},{\"x\":408,\"y\":336,\"point\":3,\"radius\":24},{\"x\":408,\"y\":360,\"point\":1,\"radius\":24},{\"x\":432,\"y\":264,\"point\":10,\"radius\":24},{\"x\":432,\"y\":288,\"point\":10,\"radius\":24},{\"x\":432,\"y\":336,\"point\":3,\"radius\":24},{\"x\":432,\"y\":360,\"point\":1,\"radius\":24},{\"x\":456,\"y\":264,\"point\":9,\"radius\":24},{\"x\":456,\"y\":288,\"point\":9,\"radius\":24},{\"x\":480,\"y\":264,\"point\":12,\"radius\":24},{\"x\":480,\"y\":288,\"point\":12,\"radius\":24},{\"x\":504,\"y\":264,\"point\":13,\"radius\":24},{\"x\":504,\"y\":288,\"point\":13,\"radius\":24},{\"x\":504,\"y\":312,\"point\":14,\"radius\":24},{\"x\":504,\"y\":336,\"point\":11,\"radius\":24},{\"x\":528,\"y\":264,\"point\":16,\"radius\":24},{\"x\":528,\"y\":288,\"point\":16,\"radius\":24},{\"x\":528,\"y\":312,\"point\":14,\"radius\":24},{\"x\":528,\"y\":336,\"point\":11,\"radius\":24},{\"x\":552,\"y\":72,\"point\":64,\"radius\":24},{\"x\":552,\"y\":96,\"point\":64,\"radius\":24},{\"x\":552,\"y\":120,\"point\":64,\"radius\":24},{\"x\":552,\"y\":144,\"point\":64,\"radius\":24},{\"x\":552,\"y\":168,\"point\":64,\"radius\":24},{\"x\":552,\"y\":264,\"point\":15,\"radius\":24},{\"x\":552,\"y\":288,\"point\":15,\"radius\":24},{\"x\":552,\"y\":312,\"point\":14,\"radius\":24},{\"x\":552,\"y\":336,\"point\":11,\"radius\":24},{\"x\":576,\"y\":72,\"point\":23,\"radius\":24},{\"x\":576,\"y\":96,\"point\":23,\"radius\":24},{\"x\":576,\"y\":120,\"point\":23,\"radius\":24},{\"x\":576,\"y\":144,\"point\":23,\"radius\":24},{\"x\":576,\"y\":168,\"point\":23,\"radius\":24},{\"x\":576,\"y\":264,\"point\":18,\"radius\":24},{\"x\":576,\"y\":288,\"point\":18,\"radius\":24},{\"x\":600,\"y\":72,\"point\":41,\"radius\":24},{\"x\":600,\"y\":96,\"point\":41,\"radius\":24},{\"x\":600,\"y\":120,\"point\":41,\"radius\":24},{\"x\":600,\"y\":144,\"point\":41,\"radius\":24},{\"x\":600,\"y\":168,\"point\":41,\"radius\":24},{\"x\":600,\"y\":264,\"point\":20,\"radius\":24},{\"x\":600,\"y\":288,\"point\":20,\"radius\":24},{\"x\":624,\"y\":72,\"point\":42,\"radius\":24},{\"x\":624,\"y\":96,\"point\":42,\"radius\":24},{\"x\":624,\"y\":120,\"point\":42,\"radius\":24},{\"x\":624,\"y\":144,\"point\":42,\"radius\":24},{\"x\":624,\"y\":168,\"point\":42,\"radius\":24},{\"x\":624,\"y\":264,\"point\":22,\"radius\":24},{\"x\":624,\"y\":288,\"point\":22,\"radius\":24},{\"x\":624,\"y\":312,\"point\":19,\"radius\":24},{\"x\":624,\"y\":336,\"point\":17,\"radius\":24},{\"x\":648,\"y\":72,\"point\":37,\"radius\":24},{\"x\":648,\"y\":96,\"point\":37,\"radius\":24},{\"x\":648,\"y\":120,\"point\":37,\"radius\":24},{\"x\":648,\"y\":144,\"point\":37,\"radius\":24},{\"x\":648,\"y\":168,\"point\":37,\"radius\":24},{\"x\":648,\"y\":264,\"point\":21,\"radius\":24},{\"x\":648,\"y\":288,\"point\":21,\"radius\":24},{\"x\":648,\"y\":312,\"point\":19,\"radius\":24},{\"x\":648,\"y\":336,\"point\":17,\"radius\":24},{\"x\":672,\"y\":72,\"point\":34,\"radius\":24},{\"x\":672,\"y\":96,\"point\":34,\"radius\":24},{\"x\":672,\"y\":120,\"point\":34,\"radius\":24},{\"x\":672,\"y\":144,\"point\":34,\"radius\":24},{\"x\":672,\"y\":168,\"point\":34,\"radius\":24},{\"x\":672,\"y\":264,\"point\":28,\"radius\":24},{\"x\":672,\"y\":288,\"point\":28,\"radius\":24},{\"x\":672,\"y\":312,\"point\":19,\"radius\":24},{\"x\":672,\"y\":336,\"point\":17,\"radius\":24},{\"x\":696,\"y\":72,\"point\":24,\"radius\":24},{\"x\":696,\"y\":96,\"point\":24,\"radius\":24},{\"x\":696,\"y\":120,\"point\":24,\"radius\":24},{\"x\":696,\"y\":144,\"point\":24,\"radius\":24},{\"x\":696,\"y\":168,\"point\":24,\"radius\":24},{\"x\":696,\"y\":264,\"point\":27,\"radius\":24},{\"x\":696,\"y\":288,\"point\":27,\"radius\":24},{\"x\":720,\"y\":72,\"point\":61,\"radius\":24},{\"x\":720,\"y\":96,\"point\":61,\"radius\":24},{\"x\":720,\"y\":120,\"point\":61,\"radius\":24},{\"x\":720,\"y\":144,\"point\":61,\"radius\":24},{\"x\":720,\"y\":168,\"point\":61,\"radius\":24},{\"x\":720,\"y\":264,\"point\":44,\"radius\":24},{\"x\":720,\"y\":288,\"point\":44,\"radius\":24},{\"x\":744,\"y\":72,\"point\":54,\"radius\":24},{\"x\":744,\"y\":96,\"point\":56,\"radius\":24},{\"x\":744,\"y\":120,\"point\":55,\"radius\":24},{\"x\":744,\"y\":144,\"point\":52,\"radius\":24},{\"x\":744,\"y\":168,\"point\":51,\"radius\":24},{\"x\":744,\"y\":192,\"point\":50,\"radius\":24},{\"x\":744,\"y\":216,\"point\":49,\"radius\":24},{\"x\":744,\"y\":240,\"point\":46,\"radius\":24},{\"x\":744,\"y\":264,\"point\":43,\"radius\":24},{\"x\":744,\"y\":288,\"point\":43,\"radius\":24},{\"x\":744,\"y\":312,\"point\":48,\"radius\":24},{\"x\":744,\"y\":336,\"point\":45,\"radius\":24},{\"x\":768,\"y\":72,\"point\":54,\"radius\":24},{\"x\":768,\"y\":96,\"point\":53,\"radius\":24},{\"x\":768,\"y\":120,\"point\":53,\"radius\":24},{\"x\":768,\"y\":144,\"point\":53,\"radius\":24},{\"x\":768,\"y\":168,\"point\":53,\"radius\":24},{\"x\":768,\"y\":192,\"point\":47,\"radius\":24},{\"x\":768,\"y\":216,\"point\":47,\"radius\":24},{\"x\":768,\"y\":240,\"point\":47,\"radius\":24},{\"x\":768,\"y\":264,\"point\":47,\"radius\":24},{\"x\":768,\"y\":288,\"point\":47,\"radius\":24},{\"x\":768,\"y\":312,\"point\":48,\"radius\":24},{\"x\":768,\"y\":336,\"point\":45,\"radius\":24}]",
                "vt": "json"
            },
            {
                "p": "CORE_STEPS",
                "v": "[[],[6,4,2,3,1,5,14,11,42,22,19,17,37,21,34,28,24,61,54,56,55,52,51,53],[8,6,4,3,1,5,13,14,16,15,22,19,37,21,34,28,24,61,54,56,55,52,51,53],[6,4,2,3,57,7,5,14,11,19,17,34,24,61,54,56,55,52,51,53],[5],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,2,3,1,14,11,19,17,37,34,24,61,56,55,52,51],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[8,6,4,3,1,14,11,19,17,37,34,24,61,56,55,52,51],[6,4,2,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,14,11,19,17,37,34,24,61,56,55,52,51],[8,6,3,57,7,5,13,14,16,15,22,19,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,1,5,14,11,19,17,37,34,24,61,56,55,52,51],[6,4,3,1,13,14,11,16,15,42,22,19,17,37,21,34,28,24,61],[6,4,3,57,7,5,13,14,16,15,41,42,22,19,37,21,34,28,24],[6,4,3,57,7,5,13,14,11,16,15,42,22,19,17,37,21,34,28,24,61],[6,4,3,57,7,5,14,11,41,42,19,17,37,34],[6,4,3,57,7,5,13,14,16,15,23,41,42,22,19,37,21,28],[6,4,3,57,7,5,14,11,41,42,19,17,37,34],[6,4,3,57,7,5,13,14,16,15,42,22,19,37,21,34,28,24],[6,4,3,57,7,5,14,11,19,17,37,34,24,61],[6,4,3,57,7,5,13,14,16,15,42,22,19,37,21,34,28,24],[6,4,3,57,7,5,14,11,19,17,37,34,24,61],[6,4,3,1,5,13,14,16,15,22,19,21,34,28,24,61,56,55,52,51],[6,4,3,57,7,5,14,11,19,17,24,61,54,56,55,52,51,53],[6,4,3,1,5,13,14,16,15,22,19,21,34,28,24,61,56,55,52,51],[6,4,3,57,7,5,14,11,19,17,24,61,54,56,55,52,51,53],[6,4,3,1,5,13,14,16,15,22,19,21,28,61,54,56,55,52,51,50,49,46,43,53,47],[6,4,3,57,7,5,13,14,16,15,22,19,21,28,54,56,55,52,51,50,49,46,43,48,53,47],[6,4,3,57,7,5,13,14,16,15,22,19,21,28,54,56,55,52,51,50,49,46,43,48,53,47],[6,4,3,1,5,13,14,16,15,22,19,21,28,56,55,52,51,50,49,46,43,48,45,53,47],[6,4,3,57,7,5,14,11,19,17,54,56,55,52,51,50,49,46,43,48,53,47],[6,4,3,1,5,13,14,16,15,22,19,21,28,61,54,56,55,52,51,50,49,46,43,53,47],[6,4,3,57,7,5,14,11,19,17,24,61,54,56,55,52,51,50,49,46,43,53],[6,4,3,57,7,5,13,14,16,15,22,19,17,21,34,28,24,61,54,56,55,52,51,53],[6,4,3,57,7,5,14,11,22,19,37,21,34,28,24,27,61,56,55,52,51],[6,4,3,1,5,13,14,16,15,42,22,19,37,21,34,28,24,27,61,44,55],[6,4,3,57,7,5,14,11,41,42,22,19,37,21,34,28,24,27,44,43],[6,4,3,57,7,5,13,14,16,15,42,22,37,21,34,28,24,27,44,49,46,43],[6,4,3,57,7,5,14,11,41,42,37,34,28,27,44,50,49,46,43],[6,4,3,57,7,5,13,14,16,15,42,37,34,24,44,52,51,50,49,46,43],[6,4,3,57,7,5,13,14,16,15,41,42,37,34,55,52,51,50,49,46,43],[6,4,3,57,7,5,13,14,16,15,23,41,42,37,56,55,52,51,50,49,46],[6,4,3,57,7,5,13,14,16,15,23,41,42,37,56,55,52,51,50,49,46],[6,4,3,57,7,5,13,14,16,15,23,41,42,37,56,55,52,51,50],[6,4,3,57,7,5,14,11,23,41,42,55,52,51,50,49],[6,4,3,1,7,5,13,14,16,15,23,41,42,52,51,50,49,46],[6,4,3,57,7,5,14,11,23,41,42,51,50,49,46,43],[6,4,3,57,7,5,13,14,16,15,23,41,42,52,51,50,49,46],[6,4,3,57,7,5,14,11,23,41,42,55,52,51,50,49],[6,4,3,57,7,5,13,14,16,15,23,41,42,56,55,52,51,50],[6,4,3,57,7,5,14,11,23,41,42,52,51,50,49,46],[6,4,3,57,7,5,13,14,16,15,23,41,42,51,50,49,46,43],[6,4,3,57,7,5,14,11,23,41,42,47],[6,4,3,57,7,5,13,14,16,15,23,41,42,52,51,50,49,46,43],[6,4,3,57,7,5,14,11,23,41,42,47],[6,4,3,57,7,5,13,14,16,15,23,41,42,52,51,50,49,46,43],[6,4,3,57,7,5,14,11,23,41,42,47],[6,4,3,57,7,5,13,14,16,15,23,41,42,52,51,50,49,46,43],[6,4,3,57,7,5,14,11,23,41,42,47],[6,4,3,57,7,5,13,14,16,15,23,41,42,52,51,50,49,46,43],[6,4,3,57,7,5,14,11,23,41,42,47],[6,4,3,57,7,5,13,14,16,15,23,41,42,52,51,50,49,46,43],[6,4,3,57,7,5,14,11,23,41,42,47],[6,4,3,57,7,5,14,11,23,41,42,47],[6,4,3,57,7,5,13,14,16,15,23,41,42,52,51,50,49,46,43],[6,4,3,1,5,12,13,14,16,15,23,18,41,20,42,61,55,52,51,50,49,46],[6,4,3,1,5,12,13,16,15,23,18,41,20,42,22,21,61,56,55,52,51,50],[6,4,3,1,5,13,16,15,23,18,41,20,42,22,21,28,61,56,55,52,51],[6,4,3,57,7,5,16,15,23,18,41,20,42,22,37,21,28,24,27,61,55],[6,4,3,57,7,5,15,23,18,41,20,42,22,37,21,34,28,24,27,44],[6,4,3,57,7,5,23,18,41,20,42,22,37,21,34,28,27,44,43],[6,4,3,57,7,5,23,41,20,42,22,37,21,28,27,44,49,46,43],[6,4,3,57,7,5,23,41,42,22,37,21,28,27,44,51,50,49,46,43],[6,4,3,57,7,5,23,41,42,37,21,34,28,27,44,51,50,49,46,43],[6,4,3,57,7,5,23,41,42,37,27,44,55,52,51,50,49,46,43],[6,4,3,57,7,5,23,41,42,37,56,55,52,51,50,49,46,43],[6,4,3,57,7,5,23,41,42,37,56,55,52,51,50,49,46,43],[6,4,3,57,7,5,23,41,42,37,56,55,52,51,50,49,46],[6,4,3,57,7,5,23,41,42,37,56,55,52,51,50],[6,4,3,57,7,5,23,41,42,37,56,55,52,51],[6,4,3,57,7,5,23,41,42,37,55,52,51,50,49],[6,4,3,57,7,5,23,41,42,37,52,51,50,49,46],[6,4,3,57,7,5,23,41,42,37,51,50,49,46,43],[6,4,3,57,7,5,23,41,42,37,52,51,50,49,46],[6,4,3,57,7,5,23,41,42,37,56,55,52,51,50],[6,4,3,57,7,5,23,41,42,37,55,52,51,50,49],[6,4,3,57,7,5,23,41,42,37,52,51,50,49,46],[6,4,3,57,7,5,23,41,42,37,51,50,49,46,43],[6,4,3,57,7,5,41,42,37,34,24,47],[6,4,3,57,7,5,23,41,42,37,34,52,51,50,49,46,43],[6,4,3,57,7,5,41,42,37,34,24,47],[6,4,3,57,7,5,23,41,42,37,34,51,50,49,46,43],[6,4,3,57,7,5,41,42,37,34,24,47],[6,4,3,57,7,5,23,41,42,37,34,52,51,50,49,46,43],[6,4,3,57,7,5,41,42,37,34,24,47],[6,4,3,57,7,5,23,41,42,37,34,52,51,50,49,46,43],[6,4,3,57,7,5,64,23,41,42,37,47],[6,4,3,57,7,5,64,23,41,42,52,51,50,49,46,43],[6,4,3,57,7,5,64,23,41,42,47],[6,4,3,57,7,5,64,23,41,42,47],[6,4,3,1,7,5,23,41,42,37,52,51,50,49,46,43],[6,4,3,57,7,5,64,23,41,42,55,52,51,50,49,46],[6,4,3,57,7,5,64,23,41,42,61,52,51,50,49],[6,4,3,57,7,5,64,23,41,42,61,56,55,52,51],[6,4,3,57,7,5,64,23,41,42,24,61,55],[6,4,3,57,7,5,64,23,41,34,24],[6,4,3,57,7,5,64,23,41,37,34],[6,4,3,57,7,5,64,23,41,37],[6,4,3,57,7,5,64,23,41,37],[6,4,3,1,5,64,23,41,37],[6,4,3,57,7,5,64,23,41,37],[6,4,3,1,64,23,41,37],[6,4,3,57,7,5,64,23,41,37],[6,4,57,7,5,10,9,64,23,41,37],[6,4,57,7,10,9,12,13,64,23,41,37],[6,4,10,9,12,13,16,64,15,23,41,37],[6,4,9,12,13,16,64,15,23,18,41,20,37],[6,4,12,13,16,64,15,23,18,41,20,22,37],[6,4,13,16,64,15,23,18,41,20,22,37,21],[6,4,64,15,23,18,41,20,22,37,21,28,27],[6,4,64,23,18,41,20,22,37,21,28,27,44],[6,4,64,23,41,20,22,37,21,28,27,44,43],[6,4,64,23,41,22,37,21,28,27,44,46,43],[6,4,64,23,41,37,28,27,44,50,49,46,43],[6,4,64,23,41,37,28,27,44,50,49,46,43],[6,4,64,23,41,37,27,44,51,50,49,46,43],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,55,52,51,50,49,46],[6,4,64,23,41,37,56,55,52,51,50],[6,4,64,23,41,37,56,55,52,51,50],[6,4,64,23,41,37,56,55,52,51,50],[6,4,64,23,41,37,55,52,51,50,49],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,56,55,52,51,50,49,46],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,56,55,52,51,50,49,46],[6,4,64,23,41,37,56,55,52,51,50],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,56,55,52,51],[6,4,64,23,41,37,55,52,51,50,49],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,47],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,47],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,47],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,47],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,47],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,47],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,47],[6,4,64,23,41,37,47],[6,4,64,23,41,37,52,51,50,49,46,43],[6,4,64,23,41,37,55,52,51,50,49,46],[6,4,64,23,41,37,61,55,52,51,50],[6,4,64,23,41,37,61,56,55,52],[6,4,64,23,41,37,61,56,55],[6,4,64,23,41,42,34,56,55,52,51,50],[6,4,64,23,41,42,34,55,52,51,50,49],[6,4,64,23,41,42,34,55,52,51,50,49,46],[6,4,64,23,41,42,34,55,52,51,50,49,46,43],[6,4,64,23,41,42,34,55,52,51,50,49,46,43],[6,4,64,23,41,42,34,44,52,51,50,49,46,43],[6,4,64,23,41,42,34,27,44,52,51,50,49,46,43],[6,4,64,23,41,42,34,50,49,46,43,47],[6,4,64,23,41,42,34,27,44,49,46,43],[6,4,64,23,41,42,21,34,28,27,44,49,46,43],[6,4,64,23,41,42,22,21,34,28,27,44,46,43],[6,4,64,23,41,20,42,22,21,34,28,27,44,43],[6,4,64,23,18,41,20,42,22,21,34,28,27,44],[6,4,64,15,23,18,41,20,42,22,21,34,28,27],[6,4,16,64,15,23,18,41,20,42,22,21,34,28],[6,4,13,16,64,15,23,18,41,20,42,22,21,34],[6,4,12,13,16,64,15,23,18,41,20,42,22,34],[6,4,9,12,13,16,64,15,23,18,41,20,42,34],[6,4,10,9,12,13,16,64,15,23,18,41,42,34],[6,4,57,7,10,9,12,13,16,64,15,23,41,42,34],[6,4,57,7,5,10,9,12,13,64,23,41,42,34],[6,4,3,57,7,5,10,9,12,64,23,41,42,34],[6,4,3,57,7,5,10,64,23,41,42,34],[6,4,57,7,5,64,23,41,42,34],[6,4,59,57,7,5,58,64,23,41,42,34],[6,4,3,1,59,5,58,64,23,41,42,34],[6,4,60,3,59,5,64,23,41,42,34],[6,4,62,60,7,5,64,23,41,42,34],[6,4,63,62,57,7,5,64,23,41,42,34],[6,4,25,63,59,57,7,58,64,23,41,42,34],[6,4,26,25,3,1,59,5,58,64,23,41,42,34],[6,4,30,26,60,3,59,5,64,23,41,42,34],[6,4,29,30,62,60,7,5,64,23,41,42,34],[6,4,32,29,63,62,57,7,5,64,23,41,42,34],[6,4,31,32,25,63,59,57,7,58,64,23,41,42,34],[6,4,33,31,26,25,3,1,59,5,58,64,23,41,42,34],[6,4,36,33,30,26,60,3,1,59,5,64,23,41,42,34],[6,4,35,36,29,30,62,60,3,1,7,5,64,23,41,42,34],[6,4,38,35,32,29,63,62,3,1,7,5,64,23,41,42,34],[6,4,40,38,31,32,25,63,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[8,6,4,3,1,7,5,23,41,42,37,34,24,61],[39,8,6,40,33,31,26,25,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51],[8,6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[39,8,6,40,33,31,26,25,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[39,8,6,40,33,31,26,25,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[39,8,6,40,33,31,26,25,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[39,8,6,40,33,31,26,25,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[39,6,4,40,33,31,26,25,3,1,7,5,64,23,41,42,34],[8,6,4,3,1,7,5,23,41,42,37,34,24,61],[39,8,6,40,33,31,26,25,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51],[8,6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[39,8,6,40,33,31,26,25,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[39,8,6,40,33,31,26,25,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[6,4,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[8,6,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53],[39,8,6,40,33,31,26,25,3,1,7,5,41,42,37,34,24,61,54,56,55,52,51,53]]",
                "vt": "json"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "1ce20b9c79b0790f"
            ]
        ]
    },
    {
        "id": "f879965489f66e18",
        "type": "function",
        "z": "ecb7ed79ba721ac5",
        "name": "echart options",
        "func": "function echart_options(step, CORE_STEPS, MAP_COOR) {\n    let current_points = CORE_STEPS[step];\n    return {\n        graphic: MAP_COOR.map(function (item) {\n            return { // Position the entire rotated group at the right-bottom corner of its container.\n                type: 'group',\n                // rotation: Math.PI / 4,\n                // right: item.x * 0.8 - 10,  // Position at the right boundary.\n                // bottom: item.y * 0.8 - 40, // Position at the bottom boundary.\n                position: [item.x * 0.8 - 0 , item.y * 0.8 - 40],\n                // position: [item.x * 0.8, item.y * 0.8],\n                // Scale, using [1, 1] by default.\n                // scale: [0.6, 0.6],\n\n                children: [\n                    {\n                        type: 'circle',\n                        shape: {\n                            cx: 0,\n                            cy: 0,\n                            r: 10\n                        },\n                        style: {\n                            fill: current_points.includes(item.point) ? '#8ec3d8' : '#fff', \n                            stroke: '#999',\n                            lineWidth: 2,\n                            shadowBlur: 8,\n                            shadowOffsetX: 3,\n                            shadowOffsetY: 3,\n                            shadowColor: 'rgba(0,0,0,0.3)'\n                        }\n                    },\n                    {\n                        type: 'text',\n                        left: 'center', // Position at horizontal center according to its parent.\n                        top: 'middle',  // Position at vertical center according to its parent.\n                        style: {\n                            fill: '#777',\n                            text: item.point,\n                            font: '14px Microsoft YaHei'\n                        }\n                    }\n                ]\n            }\n        })\n    }\n}\n\nmsg.payload = echart_options(\n    msg.payload, \n    global.get(\"CORE_STEPS\"), \n    global.get(\"MAP_COOR\")\n    );\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 680,
        "y": 220,
        "wires": [
            [
                "0fcc6f74e740a064"
            ]
        ]
    },
    {
        "id": "2f9073a69cd71789",
        "type": "ui_template",
        "z": "ecb7ed79ba721ac5",
        "group": "3aeed3b66cedadf0",
        "name": "",
        "order": 0,
        "width": "21",
        "height": "12",
        "format": "<div id=\"{{'my_'+$id}}\" ng-bind-html=\"msg.payload | trusted\"></div>\n\n<script>\n(function(scope) {\n\n  scope.$watch('msg', function(newValue,oldValue,scope) {\n\n    let my = $(\"#my_\"+scope.$id);\n\n    console.log('- Scope.msg -')\n    // console.dir(scope)\n    console.dir(newValue)\n    console.dir(oldValue)\n    console.dir(scope.msg)\n    console.dir(my)\n    \n    if (newValue) {      \n      if (typeof(newValue) != \"undefined\" && typeof(oldValue) != \"undefined\"){\n          if (newValue.cnt != oldValue.cnt){\n              console.log(\"Button is pressed!\");            \n          }\n      }      \n      $(\"#my_\"+scope.$id).html(newValue.payload);\n    }\n  });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "3891d1e144640ac5",
        "type": "function",
        "z": "ecb7ed79ba721ac5",
        "name": "send: 0-29",
        "func": "for(var x = 1; x < 30; x++) {\n    node.send({payload: x});\n}",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 310,
        "y": 260,
        "wires": [
            [
                "0107aea836a42488"
            ]
        ]
    },
    {
        "id": "0107aea836a42488",
        "type": "delay",
        "z": "ecb7ed79ba721ac5",
        "name": "",
        "pauseType": "rate",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 310,
        "y": 300,
        "wires": [
            [
                "f879965489f66e18",
                "ea5ca7402876c704"
            ]
        ]
    },
    {
        "id": "1ce20b9c79b0790f",
        "type": "change",
        "z": "ecb7ed79ba721ac5",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "MAP_COOR",
                "pt": "global",
                "to": "MAP_COOR",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "CORE_STEPS",
                "pt": "global",
                "to": "CORE_STEPS",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 320,
        "y": 220,
        "wires": [
            [
                "3891d1e144640ac5"
            ]
        ]
    },
    {
        "id": "225b77a213e5547d",
        "type": "ui_template",
        "z": "ecb7ed79ba721ac5",
        "group": "3aeed3b66cedadf0",
        "name": "",
        "order": 0,
        "width": "21",
        "height": "12",
        "format": "<div id=\"{{'my_'+$id}}\" ng-bind-html=\"msg.payload | trusted\"></div>\n\n<script>\n(function(scope) {\n\n  scope.$watch('msg', function(newValue,oldValue,scope) {\n\n    let my = $(\"#my_\"+scope.$id);\n\n    console.log('- Scope.msg -')\n    // console.dir(scope)\n    console.dir(newValue)\n    console.dir(oldValue)\n    console.dir(scope.msg)\n    console.dir(my)\n    \n    if (newValue) {      \n      if (typeof(newValue) != \"undefined\" && typeof(oldValue) != \"undefined\"){\n          if (newValue.cnt != oldValue.cnt){\n              console.log(\"Button is pressed!\");            \n          }\n      }      \n      $(\"#my_\"+scope.$id).html(newValue.payload);\n    }\n  });\n})(scope);\n</script>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1020,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "ea5ca7402876c704",
        "type": "ui_digital_display",
        "z": "ecb7ed79ba721ac5",
        "name": "",
        "group": "3aeed3b66cedadf0",
        "order": 2,
        "width": 0,
        "height": 0,
        "digits": 5,
        "decimals": 1,
        "x": 680,
        "y": 300,
        "wires": []
    },
    {
        "id": "18d7c8fe5c0bd272",
        "type": "debug",
        "z": "ecb7ed79ba721ac5",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1020,
        "y": 340,
        "wires": []
    },
    {
        "id": "741f9b7e.bd3d34",
        "type": "finite-state-machine",
        "z": "cd27ad32.fb2ce8",
        "name": "",
        "fsmDefinition": "{\"state\":{\"status\":\"IDLE\",\"data\":{\"x\":5}},\"transitions\":{\"IDLE\":{\"toggle\":\"RUNNING\",\"set\":\"IDLE\"},\"RUNNING\":{\"toggle\":\"IDLE\"}}}",
        "sendInitialState": false,
        "sendStateWithoutChange": false,
        "showTransitionErrors": true,
        "x": 480,
        "y": 300,
        "wires": [
            [
                "2c5a6aeb.c6e35e",
                "22380426.fd5b5c",
                "fd0fdc38.21c4c8",
                "19579af6.c76055"
            ]
        ]
    },
    {
        "id": "6f9447ed.5d58",
        "type": "inject",
        "z": "cd27ad32.fb2ce8",
        "name": "set { \"x\" :6 }",
        "props": [
            {
                "p": "data",
                "v": "{ \"x\" :6 }",
                "vt": "json"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set",
        "x": 230,
        "y": 340,
        "wires": [
            [
                "741f9b7e.bd3d34"
            ]
        ]
    },
    {
        "id": "3e18afe6.ce355",
        "type": "inject",
        "z": "cd27ad32.fb2ce8",
        "name": "set { \"x\" :7 }",
        "props": [
            {
                "p": "data",
                "v": "{ \"x\" :7 }",
                "vt": "json"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set",
        "x": 230,
        "y": 380,
        "wires": [
            [
                "741f9b7e.bd3d34"
            ]
        ]
    },
    {
        "id": "d8ffa74c.efa948",
        "type": "inject",
        "z": "cd27ad32.fb2ce8",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "toggle",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "toggle",
        "payload": "",
        "payloadType": "str",
        "x": 250,
        "y": 300,
        "wires": [
            [
                "741f9b7e.bd3d34"
            ]
        ]
    },
    {
        "id": "8ee732f2.01075",
        "type": "debug",
        "z": "cd27ad32.fb2ce8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.data",
        "targetType": "msg",
        "x": 930,
        "y": 280,
        "wires": []
    },
    {
        "id": "2c5a6aeb.c6e35e",
        "type": "rbe",
        "z": "cd27ad32.fb2ce8",
        "name": "dataChanged",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload.data",
        "x": 720,
        "y": 280,
        "wires": [
            [
                "8ee732f2.01075"
            ]
        ]
    },
    {
        "id": "22380426.fd5b5c",
        "type": "rbe",
        "z": "cd27ad32.fb2ce8",
        "name": "stateChanged",
        "func": "rbei",
        "gap": "",
        "start": "",
        "inout": "out",
        "property": "payload.status",
        "x": 720,
        "y": 340,
        "wires": [
            [
                "6abdae73.1aaac"
            ]
        ]
    },
    {
        "id": "6abdae73.1aaac",
        "type": "debug",
        "z": "cd27ad32.fb2ce8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.status",
        "targetType": "msg",
        "x": 930,
        "y": 340,
        "wires": []
    },
    {
        "id": "2d6a156e.5f98ca",
        "type": "inject",
        "z": "cd27ad32.fb2ce8",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "set",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set",
        "payload": "",
        "payloadType": "str",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "741f9b7e.bd3d34"
            ]
        ]
    },
    {
        "id": "fd0fdc38.21c4c8",
        "type": "debug",
        "z": "cd27ad32.fb2ce8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.status",
        "targetType": "msg",
        "statusVal": "payload.status",
        "statusType": "auto",
        "x": 730,
        "y": 200,
        "wires": []
    },
    {
        "id": "19579af6.c76055",
        "type": "debug",
        "z": "cd27ad32.fb2ce8",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": true,
        "complete": "payload.data",
        "targetType": "msg",
        "statusVal": "payload.data",
        "statusType": "auto",
        "x": 730,
        "y": 140,
        "wires": []
    },
    {
        "id": "47aa9b50.b6825c",
        "type": "finite-state-machine",
        "z": "854a9f95.2f9f7",
        "name": "",
        "fsmDefinition": "{\"state\":{\"status\":\"IDLE\",\"data\":{\"x\":5}},\"transitions\":{\"IDLE\":{\"run\":\"RUNNING\"},\"RUNNING\":{\"stop\":\"IDLE\",\"set\":\"RUNNING\"}}}",
        "sendInitialState": false,
        "showTransitionErrors": true,
        "x": 480,
        "y": 160,
        "wires": [
            [
                "a8262434.cf7498",
                "95e4cda8ef7f4206"
            ]
        ]
    },
    {
        "id": "87fbee09.255fe8",
        "type": "inject",
        "z": "854a9f95.2f9f7",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "run",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "run",
        "payload": "",
        "payloadType": "str",
        "x": 270,
        "y": 160,
        "wires": [
            [
                "47aa9b50.b6825c"
            ]
        ]
    },
    {
        "id": "a8262434.cf7498",
        "type": "switch",
        "z": "854a9f95.2f9f7",
        "name": "onRUNNING",
        "property": "payload.status",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "RUNNING",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 690,
        "y": 140,
        "wires": [
            [
                "1bb1822b.773f76"
            ]
        ]
    },
    {
        "id": "1bb1822b.773f76",
        "type": "delay",
        "z": "854a9f95.2f9f7",
        "name": "delay 5s",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "outputs": 1,
        "x": 880,
        "y": 320,
        "wires": [
            [
                "983f9b74.7bcbd8"
            ]
        ]
    },
    {
        "id": "983f9b74.7bcbd8",
        "type": "change",
        "z": "854a9f95.2f9f7",
        "name": "set msg.topic to stop",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "stop",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 220,
        "y": 260,
        "wires": [
            [
                "47aa9b50.b6825c"
            ]
        ]
    },
    {
        "id": "a0a931fb.60bc4",
        "type": "comment",
        "z": "854a9f95.2f9f7",
        "name": "sending topic \"run\" will trigger the machine which is stopped 5 seconds later",
        "info": "",
        "x": 390,
        "y": 100,
        "wires": []
    },
    {
        "id": "95e4cda8ef7f4206",
        "type": "debug",
        "z": "854a9f95.2f9f7",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 890,
        "y": 160,
        "wires": []
    },
    {
        "id": "70d24837.fa7bb8",
        "type": "finite-state-machine",
        "z": "854a9f95.2f9f7",
        "name": "",
        "fsmDefinition": "{\"state\":{\"status\":\"IDLE\"},\"transitions\":{\"IDLE\":{\"toggleState\":\"RUNNING\"},\"RUNNING\":{\"toggleState\":\"IDLE\"}}}",
        "sendInitialState": false,
        "showTransitionErrors": true,
        "x": 470,
        "y": 520,
        "wires": [
            [
                "236d8d.5ef6da74"
            ]
        ]
    },
    {
        "id": "236d8d.5ef6da74",
        "type": "debug",
        "z": "854a9f95.2f9f7",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload",
        "targetType": "msg",
        "x": 710,
        "y": 520,
        "wires": []
    },
    {
        "id": "701f2b41.e4ecb4",
        "type": "inject",
        "z": "854a9f95.2f9f7",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "toggleState",
        "payload": "",
        "payloadType": "str",
        "x": 240,
        "y": 520,
        "wires": [
            [
                "70d24837.fa7bb8"
            ]
        ]
    },
    {
        "id": "a75e8c2f.0b2378",
        "type": "comment",
        "z": "854a9f95.2f9f7",
        "name": "sending topic \"toggleState\" toggles between the two states",
        "info": "",
        "x": 410,
        "y": 460,
        "wires": []
    },
    {
        "id": "a0edf135.e14588",
        "type": "finite-state-machine",
        "z": "70d12b2e.625c9c",
        "name": "",
        "fsmDefinition": "{\"state\":{\"status\":\"IDLE\",\"data\":{\"x\":99}},\"transitions\":{\"IDLE\":{\"run\":{\"status\":\"RUNNING\",\"data\":{\"x\":42}}},\"RUNNING\":{\"stop\":{\"status\":\"IDLE\",\"data\":{\"x\":0}},\"set\":\"RUNNING\"}}}",
        "sendInitialState": false,
        "sendStateWithoutChange": false,
        "showTransitionErrors": true,
        "x": 600,
        "y": 260,
        "wires": [
            [
                "cb19a198.11647",
                "b1877454.ee2168"
            ]
        ]
    },
    {
        "id": "9befd239.ea94b",
        "type": "inject",
        "z": "70d12b2e.625c9c",
        "name": "reset",
        "props": [
            {
                "p": "control",
                "v": "reset",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "x": 210,
        "y": 120,
        "wires": [
            [
                "a0edf135.e14588"
            ]
        ]
    },
    {
        "id": "456671ae.4a071",
        "type": "comment",
        "z": "70d12b2e.625c9c",
        "name": "sending topic \"reset\" will set the state machine to its initial state",
        "info": "",
        "x": 380,
        "y": 80,
        "wires": []
    },
    {
        "id": "bcc44c08.7c6d08",
        "type": "inject",
        "z": "70d12b2e.625c9c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "run",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 240,
        "wires": [
            [
                "a0edf135.e14588"
            ]
        ]
    },
    {
        "id": "201e40f8.865b2",
        "type": "inject",
        "z": "70d12b2e.625c9c",
        "name": "data = {\"x\" : 2, \"name\" : \"peter\"}",
        "props": [
            {
                "p": "data",
                "v": "{\"x\" : 2, \"name\" : \"peter\"}",
                "vt": "json"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set",
        "x": 290,
        "y": 400,
        "wires": [
            [
                "a0edf135.e14588"
            ]
        ]
    },
    {
        "id": "61fd9c83.dd95fc",
        "type": "inject",
        "z": "70d12b2e.625c9c",
        "name": "data = {\"y\" : 3}",
        "props": [
            {
                "p": "data",
                "v": "{\"y\" : 3}",
                "vt": "json"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "set",
        "x": 240,
        "y": 440,
        "wires": [
            [
                "a0edf135.e14588"
            ]
        ]
    },
    {
        "id": "c6add2b4.c41ee",
        "type": "comment",
        "z": "70d12b2e.625c9c",
        "name": "any other topic will trigger a transition",
        "info": "",
        "x": 290,
        "y": 200,
        "wires": []
    },
    {
        "id": "a4c93b9f.44d3f",
        "type": "inject",
        "z": "70d12b2e.625c9c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "stop",
        "payload": "",
        "payloadType": "str",
        "x": 210,
        "y": 280,
        "wires": [
            [
                "a0edf135.e14588"
            ]
        ]
    },
    {
        "id": "3b5f9a43.cdf68e",
        "type": "comment",
        "z": "70d12b2e.625c9c",
        "name": "by sending a JSON object as payload you can add data to the state",
        "info": "",
        "x": 380,
        "y": 360,
        "wires": []
    },
    {
        "id": "cb19a198.11647",
        "type": "debug",
        "z": "70d12b2e.625c9c",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.status",
        "targetType": "msg",
        "statusVal": "payload.status",
        "statusType": "auto",
        "x": 880,
        "y": 220,
        "wires": []
    },
    {
        "id": "b1877454.ee2168",
        "type": "debug",
        "z": "70d12b2e.625c9c",
        "name": "",
        "active": true,
        "tosidebar": false,
        "console": false,
        "tostatus": true,
        "complete": "payload.data",
        "targetType": "msg",
        "x": 880,
        "y": 300,
        "wires": []
    },
    {
        "id": "2161d04e.04188",
        "type": "inject",
        "z": "3a57f4c3.6a129c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "given food",
        "payload": "",
        "payloadType": "str",
        "x": 260,
        "y": 300,
        "wires": [
            [
                "6673b726.95c6b8"
            ]
        ]
    },
    {
        "id": "8055f738.2d2408",
        "type": "inject",
        "z": "3a57f4c3.6a129c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "tired",
        "payload": "",
        "payloadType": "str",
        "x": 250,
        "y": 460,
        "wires": [
            [
                "6673b726.95c6b8"
            ]
        ]
    },
    {
        "id": "6203b5b5.1bf03c",
        "type": "inject",
        "z": "3a57f4c3.6a129c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "bored",
        "payload": "",
        "payloadType": "str",
        "x": 250,
        "y": 500,
        "wires": [
            [
                "6673b726.95c6b8"
            ]
        ]
    },
    {
        "id": "c4052841.b88358",
        "type": "inject",
        "z": "3a57f4c3.6a129c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "given toy",
        "payload": "",
        "payloadType": "str",
        "x": 260,
        "y": 420,
        "wires": [
            [
                "6673b726.95c6b8"
            ]
        ]
    },
    {
        "id": "fb2ba5a4.7d69d8",
        "type": "inject",
        "z": "3a57f4c3.6a129c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "wake up",
        "payload": "",
        "payloadType": "str",
        "x": 260,
        "y": 240,
        "wires": [
            [
                "6673b726.95c6b8"
            ]
        ]
    },
    {
        "id": "df45ec1f.3afd6",
        "type": "debug",
        "z": "3a57f4c3.6a129c",
        "name": "Cat output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "x": 790,
        "y": 440,
        "wires": []
    },
    {
        "id": "7ea8c4d5.401bbc",
        "type": "debug",
        "z": "3a57f4c3.6a129c",
        "name": "State",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "x": 770,
        "y": 360,
        "wires": []
    },
    {
        "id": "6673b726.95c6b8",
        "type": "smxstate",
        "z": "3a57f4c3.6a129c",
        "name": "sm-cat ",
        "xstateDefinition": "// Import shorthands from xstate object\nconst { assign } = xstate; \n\n// First define names guards, actions, ...\n\n/**\n * Guards\n */\nconst bellyFull = (context, event) => {\n  return context.belly >= 100;\n};\n\nconst bellyEmpty = (context, event) => {\n    return context.belly <= 0;\n}\n\nconst bellyNotEmpty = (context, event) => {\n    return context.belly > 0;\n}\n\n/**\n * Actions\n */\nconst updateBelly = assign({\n    belly: (context, ev) => Math.max(\n        Math.min(\n            context.belly+ev.value,100\n        ), 0)\n});\n\n/**\n * Activities\n */\nconst meow = () => {\n  const interval = setInterval(() => node.send({payload: \"MEOW!\"}), 2000);\n  return () => clearInterval(interval);\n};\n\n/**\n * Services\n * see https://xstate.js.org/docs/guides/communication.html#invoking-callbacks\n */\nconst eat = (ctx, ev) => (cb) => {\n    const id = setInterval(() => cb({\n      type: 'eaten',\n      value: 5\n    }),500);\n    return () => clearInterval(id);\n};\n\nconst digest = (ctx, ev) => (cb) => {\n    const id = setInterval(() => cb({\n      type: 'digested',\n      value: -5\n    }),500);\n    return () => clearInterval(id);\n}\n\n/***************************\n * Main machine definition * \n ***************************/\n return {\n  machine: {\n    context: {\n        belly: 0    // Belly state, 100 means full, 0 means empty\n    },\n    initial: 'sleep',\n    states: {\n      sleep: {\n          on: {\n              'wake up': 'meow',\n          }\n      },\n      meow: {\n          invoke: { src: 'digest' },\n          on: {\n              'given toy': { target: 'play', cond: 'belly not empty' },\n              'given food': 'eat',\n              'digested': { actions: 'updateBelly' }\n          },\n          activities: ['meow']\n      },\n      play: {\n          invoke: { src: 'digest' },\n          on: {\n              tired: 'sleep',\n              bored: 'sleep',\n              'digested': { actions: 'updateBelly' },\n              '': { target: 'meow', cond: 'belly empty' }\n          },\n          after: {\n              5000: 'sleep',\n          }\n      },\n      eat: {\n          invoke: { src: 'eat' },\n          on: {\n              '': { target: 'sleep', cond: 'belly full' },\n              'no more food': { target: 'meow' },\n              'eaten': { actions: 'updateBelly' }\n          }\n      }\n    }\n  },\n  // Configuration containing guards, actions, activities, ...\n  // see above\n  config: {\n      guards: { \"belly full\": bellyFull, \"belly not empty\": bellyNotEmpty, \"belly empty\": bellyEmpty },\n      activities: { meow },\n      actions: { updateBelly },\n      services: { eat, digest }\n  }\n}",
        "noerr": 0,
        "x": 530,
        "y": 400,
        "wires": [
            [
                "7ea8c4d5.401bbc"
            ],
            [
                "df45ec1f.3afd6"
            ]
        ]
    },
    {
        "id": "ea1f8a96.72e8e8",
        "type": "inject",
        "z": "3a57f4c3.6a129c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "no more food",
        "payload": "",
        "payloadType": "str",
        "x": 270,
        "y": 340,
        "wires": [
            [
                "6673b726.95c6b8"
            ]
        ]
    },
    {
        "id": "df4f25d4f6dc81bf",
        "type": "smxstate",
        "z": "3a57f4c3.6a129c",
        "name": "default demo",
        "xstateDefinition": "// Available variables/objects/functions:\n// xstate\n// - .Machine\n// - .interpret\n// - .assign\n// - .send\n// - .sendParent\n// - .spawn\n// - .raise\n// - .actions\n//\n// Common\n// - setInterval, setTimeout, clearInterval, clearTimeout\n// - node.send, node.warn, node.log, node.error\n// - context.get, context.set\n// - flow.get, flow.set\n// - env.get\n// - util\n\nconst { assign } = xstate;\n\n// First define names guards, actions, ...\n\n/**\n * Guards\n */\nconst maxValueReached = (context, event) => {\n  return context.counter >= 10;\n};\n\n/**\n * Actions\n */\nconst incrementCounter = assign({\n  counter: (context, event) => context.counter + 1\n});\n\nconst resetCounter = assign({\n  counter: (context, event) => {\n    // Can send log messages via\n    //  - node.log\n    //  - node.warn\n    //  - node.error\n    //node.warn(\"RESET\");\n\n    // Can send messages to the second outport\n    // Specify an array to send multiple messages\n    // at once\n    //  - node.send(msg)\n    node.send({ payload: \"resetCounter\" });\n    \n    return 0;\n  }\n});\n\n/**\n * Activities\n */\nconst doStuff = () => {\n  // See https://xstate.js.org/docs/guides/activities.html\n  const interval = setInterval(() => {\n    node.send({ payload: 'BEEP' });\n  }, 1000);\n  return () => clearInterval(interval);\n};\n\n/***************************\n * Main machine definition * \n ***************************/\nreturn {\n  machine: {\n    context: {\n      counter: 0\n    },\n    initial: 'run',\n    states: {\n      run: {\n        initial: 'count',\n        states: {\n          count: {\n            on: {\n              '': { target: 'reset', cond: 'maxValueReached' }\n            },\n            after: {\n              1000: { target: 'count', actions: 'incrementCounter' }\n            }\n          },\n          reset: {\n            exit: 'resetCounter',\n            after: {\n              5000: { target: 'count' }\n            },\n            activities: 'doStuff'\n          }\n        },\n        on: {\n          PAUSE: 'pause'\n        }\n      },\n      pause: {\n        on: {\n          RESUME: 'run'\n        }\n      }\n    }\n  },\n  // Configuration containing guards, actions, activities, ...\n  // see above\n  config: {\n    guards: { maxValueReached },\n    actions: { incrementCounter, resetCounter },\n    activities: { doStuff }\n  },\n  // Define listeners (can be an array of functions)\n  //    Functions get called on every state/context update\n  listeners: (data) => {\n    //node.warn(data.state + \":\" + data.context.counter);\n  }\n};",
        "noerr": 0,
        "x": 550,
        "y": 520,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "49ae59edaa0e6bd5",
        "type": "smxstate",
        "z": "3a57f4c3.6a129c",
        "name": "tcp demo",
        "xstateDefinition": "// Import shorthands from xstate object\nconst { assign } = xstate;\n\n// \n\n// \nconst cmdSent = context => context.cmdSent;\nconst respReceived = context => context.respReceived;\n\n// \nconst sendCmd = assign({ cmdSent: true });\nconst showResp = assign({ respReceived: true });\n\n//  \nconst waitResp = (ctx, ev) => (cb) => {\n  setTimeout(() => {\n    cb({ type: 'respReceived' });\n  }, 3000);\n}\n\n// \nreturn {\n  machine: {\n    context: {\n      cmdSent: false,\n      respReceived: false\n    },\n    initial: 'ready',\n    states: {\n      ready: {\n        on: {\n          'sendCmd': {\n            target: 'waitingResp',\n            actions: sendCmd\n          }\n        }\n      },\n      waitingResp: {\n        invoke: { src: 'waitResp' },\n        on: {\n          'respReceived': {\n            target: 'ready',\n            actions: showResp\n          },\n          'timeout': 'timeout'\n        }\n      },\n      timeout: {\n        on: {\n          'respReceived': {\n            target: 'ready',\n            actions: showResp\n          }\n        }\n      }\n    }\n  },\n  config: {\n    guards: {\n      \"cmdSent\": cmdSent,\n      \"respReceived\": respReceived\n    },\n    actions: { sendCmd, showResp },\n    services: { waitResp }\n  }\n}",
        "noerr": 0,
        "x": 540,
        "y": 920,
        "wires": [
            [],
            []
        ]
    },
    {
        "id": "7eac0898293dd494",
        "type": "debug",
        "z": "3a57f4c3.6a129c",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 560,
        "wires": []
    },
    {
        "id": "13a14c323f6637af",
        "type": "debug",
        "z": "3a57f4c3.6a129c",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 940,
        "wires": []
    },
    {
        "id": "ae416088a8f7d74a",
        "type": "inject",
        "z": "3a57f4c3.6a129c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 240,
        "y": 940,
        "wires": [
            []
        ]
    },
    {
        "id": "59443222.e893fc",
        "type": "dsm",
        "z": "a72c14cefa22398c",
        "name": "skelekton",
        "sm_config": "{\n    \"currentState\": \"state1\",\n    \"states\": {\n        \"state1\": {\n            \"transition2\": \"state2\"\n        },\n        \"state2\": {\n            \"transition1\": \"state1\",\n            \"transition3\": \"state3\"\n        },\n        \"state3\": {\n            \"transition1\": \"state1\",\n            \"transition2\": \"state2\"\n        }\n    },\n    \"data\": {\n        \"name1\": null,\n        \"name2\": \"my value\",\n        \"name3\": 5000\n    },\n    \"methods\": {\n\t\t\"init\": [\n\t\t\t\"sm.hostname = require('os').hostname();\",\n\t\t\t\"sm.exec = require('child_process').exec;\"\n\t\t],\n        \"default\": [\n            \"msg.payload = sm.currentState;\",\n            \"output = true;\"\n        ],\n        \"onBeforeTransition\": [\n        ],\n        \"onTransition\": [\n        ], \n        \"transition1\": [\n        ],\n        \"reset\": [\n            \"sm.fill = 'grey';\",\n            \"sm.text = 'reset';\",\n            \"output = false;\"\n        ],\n        \"status\": {\n            \"fill\": {\n                \"get\": \"sm.fill || 'blue';\"\n            },\n            \"shape\": \"dot\",\n            \"text\": {\n                \"get\": \"sm.text || 'dummy';\"\n            }\n        }\n    }\n}",
        "x": 450,
        "y": 380,
        "wires": [
            [
                "542296e.45ffa68",
                "84d201a3af8345f1"
            ]
        ]
    },
    {
        "id": "542296e.45ffa68",
        "type": "debug",
        "z": "a72c14cefa22398c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 690,
        "y": 380,
        "wires": []
    },
    {
        "id": "ea109384.e92d2",
        "type": "inject",
        "z": "a72c14cefa22398c",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "str",
        "x": 250,
        "y": 380,
        "wires": [
            [
                "59443222.e893fc"
            ]
        ]
    },
    {
        "id": "5f03f5c2.3a52dc",
        "type": "inject",
        "z": "a72c14cefa22398c",
        "name": "",
        "props": [
            {
                "p": "payload",
                "v": "",
                "vt": "str"
            },
            {
                "p": "topic",
                "v": "reset",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "reset",
        "payload": "",
        "payloadType": "str",
        "x": 250,
        "y": 420,
        "wires": [
            [
                "59443222.e893fc"
            ]
        ]
    },
    {
        "id": "84cd8a5f.f107b8",
        "type": "inject",
        "z": "a72c14cefa22398c",
        "name": "",
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "click me",
        "payloadType": "str",
        "x": 220,
        "y": 200,
        "wires": [
            [
                "996726b5.75d8b8"
            ]
        ]
    },
    {
        "id": "472d52fd.3171fc",
        "type": "debug",
        "z": "a72c14cefa22398c",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 710,
        "y": 200,
        "wires": []
    },
    {
        "id": "996726b5.75d8b8",
        "type": "dsm",
        "z": "a72c14cefa22398c",
        "name": "examples",
        "sm_config": "{\n    \"methods\": {\n        \"onTransition\": [\n            \"msg.payload = 'Please, go to: ';\",\n            \"msg.payload += 'https://github.com/cflurin/node-red-contrib-dsm/wiki.';\",\n            \"output = true;\"\n        ],\n        \"status\": {\n            \"fill\": \"yellow\",\n            \"shape\": \"dot\",\n            \"text\": {\n                \"get\": \"msg.payload;\"\n            }\n        }\n    }\n}\n",
        "x": 470,
        "y": 200,
        "wires": [
            [
                "472d52fd.3171fc"
            ]
        ]
    },
    {
        "id": "45f8df1920b0aff8",
        "type": "function",
        "z": "a72c14cefa22398c",
        "name": "function 1",
        "func": "// node.warn(RED.settings.userDir);\n// node.warn(env.get(\"HOME\"));\n// node.warn(RED.util.getSetting());\n// node.warn(RED.util.getSetting(\"flowFile\"));\n// node.warn(node.path);\n\n// node.warn(global);\n// var RED_OR = global.get('node-red');\n// node.warn(RED_OR);\n// var settings = RED_OR.settings;\n// var userDir = settings.userDir;\n// node.warn(userDir);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 100,
        "wires": [
            []
        ]
    },
    {
        "id": "cf2e2837ba7798b9",
        "type": "inject",
        "z": "a72c14cefa22398c",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "45f8df1920b0aff8"
            ]
        ]
    },
    {
        "id": "84d201a3af8345f1",
        "type": "debug",
        "z": "a72c14cefa22398c",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 680,
        "y": 420,
        "wires": []
    },
    {
        "id": "e525703b.c983b",
        "type": "debug",
        "z": "a35c3d75.a435b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 60,
        "wires": []
    },
    {
        "id": "364f4ee1.35f202",
        "type": "debug",
        "z": "a35c3d75.a435b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 100,
        "wires": []
    },
    {
        "id": "ffb75259.ba532",
        "type": "inject",
        "z": "a35c3d75.a435b",
        "name": "DblClick",
        "props": [
            {
                "p": "logic",
                "v": "dblclick",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "5359ab9e.4439f4"
            ]
        ]
    },
    {
        "id": "5949a922.0a5908",
        "type": "inject",
        "z": "a35c3d75.a435b",
        "name": "Hold",
        "props": [
            {
                "p": "logic",
                "v": "hold",
                "vt": "str"
            },
            {
                "p": "stepP",
                "v": "5",
                "vt": "str"
            },
            {
                "p": "stepN",
                "v": "-10",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "5359ab9e.4439f4"
            ]
        ]
    },
    {
        "id": "372c4d24.6e9e12",
        "type": "inject",
        "z": "a35c3d75.a435b",
        "name": "Release",
        "props": [
            {
                "p": "logic",
                "v": "release",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 100,
        "y": 180,
        "wires": [
            [
                "5359ab9e.4439f4"
            ]
        ]
    },
    {
        "id": "aabe618a.0ca7",
        "type": "inject",
        "z": "a35c3d75.a435b",
        "name": "Click",
        "props": [
            {
                "p": "logic",
                "v": "click",
                "vt": "str"
            },
            {
                "p": "custom",
                "v": "Flash",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "x": 110,
        "y": 40,
        "wires": [
            [
                "5359ab9e.4439f4"
            ]
        ]
    },
    {
        "id": "5359ab9e.4439f4",
        "type": "automation controller",
        "z": "a35c3d75.a435b",
        "name": "",
        "inputType": "msg",
        "inputValue": "logic",
        "repeatMsg": "lat",
        "seperated": true,
        "behavior": "mul",
        "rules": [
            {
                "id": 0,
                "rid": 0,
                "eid": "rules-custom0",
                "name": "Click",
                "resetInitial": true,
                "matchMode": "event",
                "active": "click",
                "activeType": "str",
                "inactive": "inactive",
                "inactiveType": "str",
                "onInactive": "",
                "onInactiveType": "nul",
                "triggerActive": true,
                "mode": "fixed",
                "output": "payload",
                "outputType": "msg",
                "repMsg": "",
                "repMsgType": "payl",
                "cool": "1",
                "coolType": "s",
                "rep": "500",
                "repType": "ms",
                "to": "60",
                "toType": "s",
                "sValue": "1",
                "sValueType": "num",
                "iInit": "0",
                "iInitType": "num",
                "iMin": "0",
                "iMinType": "num",
                "iMax": "255",
                "iMaxType": "num",
                "iSteps": "1",
                "iStepsType": "num",
                "iCycle": true,
                "iEdge": false,
                "bInit": "0",
                "bInitType": "num",
                "bIPos": true,
                "bMin": "0",
                "bMinType": "num",
                "bMax": "255",
                "bMaxType": "num",
                "bUp": "1",
                "bUpType": "num",
                "bDown": "1",
                "bDownType": "num",
                "bEdge": true,
                "fInit": "0",
                "fInitType": "num",
                "fValues": [
                    {
                        "v": "ON",
                        "t": "str",
                        "js": ""
                    },
                    {
                        "v": "OFF",
                        "t": "str",
                        "js": ""
                    },
                    {
                        "v": "custom",
                        "t": "msg",
                        "js": ""
                    }
                ],
                "fCycle": true,
                "outputJS": "",
                "activeJS": "",
                "inactiveJS": "",
                "onInactiveJS": "",
                "sValueJS": "",
                "iInitJS": "",
                "bInitJS": "",
                "fInitJS": "",
                "lLink": "1",
                "lNeg": false,
                "lUpRule": false,
                "resEvent": "",
                "resEventType": null
            },
            {
                "id": 1,
                "rid": 1,
                "eid": "rules-custom1",
                "name": "Dbl.Click",
                "resetInitial": true,
                "matchMode": "event",
                "active": "dblclick",
                "activeType": "str",
                "inactive": "inactive",
                "inactiveType": "str",
                "onInactive": "",
                "onInactiveType": "nul",
                "triggerActive": true,
                "mode": "iterate",
                "output": "payload",
                "outputType": "msg",
                "repMsg": "",
                "repMsgType": "payl",
                "cool": "0",
                "coolType": "ms",
                "rep": "500",
                "repType": "ms",
                "to": "60",
                "toType": "s",
                "sValue": "1",
                "sValueType": "num",
                "iInit": "0",
                "iInitType": "num",
                "iMin": "0",
                "iMinType": "num",
                "iMax": "255",
                "iMaxType": "num",
                "iSteps": "1",
                "iStepsType": "num",
                "iCycle": true,
                "iEdge": false,
                "bInit": "0",
                "bInitType": "num",
                "bIPos": true,
                "bMin": "0",
                "bMinType": "num",
                "bMax": "255",
                "bMaxType": "num",
                "bUp": "1",
                "bUpType": "num",
                "bDown": "1",
                "bDownType": "num",
                "bEdge": true,
                "fInit": "0",
                "fInitType": "num",
                "fValues": [
                    {
                        "v": "0",
                        "t": "num"
                    }
                ],
                "fCycle": true
            },
            {
                "id": 2,
                "rid": 2,
                "eid": "rules-custom2",
                "name": "Hold / Release",
                "resetInitial": true,
                "matchMode": "state",
                "active": "hold",
                "activeType": "str",
                "inactive": "release",
                "inactiveType": "str",
                "onInactive": "Hold now inactive!",
                "onInactiveType": "str",
                "triggerActive": true,
                "mode": "bounce",
                "output": "payload",
                "outputType": "msg",
                "repMsg": "",
                "repMsgType": "payl",
                "cool": "0",
                "coolType": "ms",
                "rep": "500",
                "repType": "ms",
                "to": "60",
                "toType": "s",
                "sValue": "1",
                "sValueType": "num",
                "iInit": "0",
                "iInitType": "num",
                "iMin": "0",
                "iMinType": "num",
                "iMax": "255",
                "iMaxType": "num",
                "iSteps": "1",
                "iStepsType": "num",
                "iCycle": true,
                "iEdge": false,
                "bInit": "0",
                "bInitType": "num",
                "bIPos": true,
                "bMin": "0",
                "bMinType": "num",
                "bMax": "50",
                "bMaxType": "num",
                "bUp": "stepP",
                "bUpType": "msg",
                "bDown": "stepN",
                "bDownType": "msg",
                "bEdge": true,
                "fInit": "0",
                "fInitType": "num",
                "fValues": [
                    {
                        "v": "0",
                        "t": "num"
                    }
                ],
                "fCycle": true
            }
        ],
        "outputs": 3,
        "x": 360,
        "y": 80,
        "wires": [
            [
                "e525703b.c983b"
            ],
            [
                "364f4ee1.35f202"
            ],
            [
                "ec30842b.c23528"
            ]
        ]
    },
    {
        "id": "ec30842b.c23528",
        "type": "debug",
        "z": "a35c3d75.a435b",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 140,
        "wires": []
    },
    {
        "id": "8b5f0867.837ec8",
        "type": "debug",
        "z": "4f44ff00.dee59",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 280,
        "wires": []
    },
    {
        "id": "2b378e3f.7df822",
        "type": "debug",
        "z": "4f44ff00.dee59",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "569522ee.2ebf6c",
        "type": "inject",
        "z": "4f44ff00.dee59",
        "name": "on",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 180,
        "wires": [
            [
                "696252c.39fbfac"
            ]
        ]
    },
    {
        "id": "68eb4e2b.2acd2",
        "type": "inject",
        "z": "4f44ff00.dee59",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 280,
        "wires": [
            [
                "2fd6c260.df31be"
            ]
        ]
    },
    {
        "id": "f21fa59b.26a1c8",
        "type": "inject",
        "z": "4f44ff00.dee59",
        "name": "off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 220,
        "wires": [
            [
                "696252c.39fbfac"
            ]
        ]
    },
    {
        "id": "f34ab9d0.36b6e8",
        "type": "inject",
        "z": "4f44ff00.dee59",
        "name": "invalid",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "test",
        "payloadType": "str",
        "x": 110,
        "y": 140,
        "wires": [
            [
                "696252c.39fbfac"
            ]
        ]
    },
    {
        "id": "c21523d6.75035",
        "type": "inject",
        "z": "4f44ff00.dee59",
        "name": "off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "x": 110,
        "y": 100,
        "wires": [
            [
                "479e78ef.afbb08"
            ]
        ]
    },
    {
        "id": "ce9b3fa4.8e21f",
        "type": "inject",
        "z": "4f44ff00.dee59",
        "name": "on",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 110,
        "y": 60,
        "wires": [
            [
                "479e78ef.afbb08"
            ]
        ]
    },
    {
        "id": "479e78ef.afbb08",
        "type": "break director",
        "z": "4f44ff00.dee59",
        "name": "Dir_Stairway",
        "actors": [],
        "inputType": "msg",
        "inputValue": "payload",
        "lockType": "bool",
        "lockValue": "true",
        "unlockType": "else",
        "unlockValue": false,
        "defaultState": false,
        "useTimeOut": false,
        "timeOut": "30",
        "timeOutUnit": "s",
        "x": 290,
        "y": 80,
        "wires": [
            [
                "2b378e3f.7df822"
            ]
        ]
    },
    {
        "id": "42a2fe6b.8dce8",
        "type": "break actor",
        "z": "4f44ff00.dee59",
        "name": "Hallway",
        "link": "",
        "director": "696252c.39fbfac",
        "resendLast": true,
        "x": 500,
        "y": 280,
        "wires": [
            [
                "8b5f0867.837ec8"
            ]
        ]
    },
    {
        "id": "2fd6c260.df31be",
        "type": "trigger",
        "z": "4f44ff00.dee59",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "date",
        "op2type": "str",
        "duration": "-5000",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 320,
        "y": 280,
        "wires": [
            [
                "42a2fe6b.8dce8"
            ]
        ]
    },
    {
        "id": "aaccf560.2319d8",
        "type": "debug",
        "z": "4f44ff00.dee59",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 340,
        "wires": []
    },
    {
        "id": "e26e53c3.0d623",
        "type": "inject",
        "z": "4f44ff00.dee59",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 340,
        "wires": [
            [
                "5a3e8fce.3c56a"
            ]
        ]
    },
    {
        "id": "57dae9c.b8db218",
        "type": "break actor",
        "z": "4f44ff00.dee59",
        "name": "Stairway",
        "link": "",
        "director": "479e78ef.afbb08",
        "resendLast": false,
        "x": 500,
        "y": 340,
        "wires": [
            [
                "aaccf560.2319d8"
            ]
        ]
    },
    {
        "id": "5a3e8fce.3c56a",
        "type": "trigger",
        "z": "4f44ff00.dee59",
        "name": "",
        "op1": "",
        "op2": "0",
        "op1type": "date",
        "op2type": "str",
        "duration": "-1000",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 320,
        "y": 340,
        "wires": [
            [
                "57dae9c.b8db218"
            ]
        ]
    },
    {
        "id": "696252c.39fbfac",
        "type": "break director",
        "z": "4f44ff00.dee59",
        "name": "Dir_Hallway",
        "actors": [],
        "inputType": "msg",
        "inputValue": "payload",
        "lockType": "bool",
        "lockValue": "true",
        "unlockType": "else",
        "unlockValue": false,
        "defaultState": false,
        "useTimeOut": true,
        "timeOut": "15",
        "timeOutUnit": "s",
        "x": 290,
        "y": 180,
        "wires": [
            [
                "677a0a83.d3da54"
            ]
        ]
    },
    {
        "id": "677a0a83.d3da54",
        "type": "debug",
        "z": "4f44ff00.dee59",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 180,
        "wires": []
    },
    {
        "id": "db8a30ed2514d6eb",
        "type": "input",
        "z": "39511f3b3e75d1cc",
        "name": "Run_sw",
        "initialvalue": "false",
        "initialvaluetype": "bool",
        "x": 360,
        "y": 200,
        "wires": [
            [
                "54caf2dd7f88a0b9"
            ]
        ]
    },
    {
        "id": "1002ed0e81524bd9",
        "type": "input",
        "z": "39511f3b3e75d1cc",
        "name": "Stop_sw",
        "initialvalue": "false",
        "initialvaluetype": "bool",
        "x": 360,
        "y": 300,
        "wires": [
            [
                "54caf2dd7f88a0b9"
            ]
        ]
    },
    {
        "id": "364a267fa2133723",
        "type": "inject",
        "z": "39511f3b3e75d1cc",
        "name": "RUN",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 90,
        "y": 200,
        "wires": [
            [
                "90db875ab1cb5cee"
            ]
        ]
    },
    {
        "id": "3af4866143a562aa",
        "type": "inject",
        "z": "39511f3b3e75d1cc",
        "name": "STOP",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 90,
        "y": 300,
        "wires": [
            [
                "360da1f62872a538"
            ]
        ]
    },
    {
        "id": "90db875ab1cb5cee",
        "type": "trigger",
        "z": "39511f3b3e75d1cc",
        "name": "MC",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 230,
        "y": 200,
        "wires": [
            [
                "db8a30ed2514d6eb"
            ]
        ]
    },
    {
        "id": "360da1f62872a538",
        "type": "trigger",
        "z": "39511f3b3e75d1cc",
        "name": "MC",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 230,
        "y": 300,
        "wires": [
            [
                "1002ed0e81524bd9"
            ]
        ]
    },
    {
        "id": "dd82cc242d245dec",
        "type": "condition",
        "z": "39511f3b3e75d1cc",
        "name": "Run",
        "expression": "Run_sw and not Stop_sw",
        "oninputtopic": true,
        "onsynctopic": false,
        "x": 570,
        "y": 180,
        "wires": [
            [
                "d031d868e4b5d98e"
            ]
        ]
    },
    {
        "id": "683e3ecff2d9bffc",
        "type": "condition",
        "z": "39511f3b3e75d1cc",
        "name": "Stop",
        "expression": "Stop_sw",
        "oninputtopic": true,
        "onsynctopic": false,
        "x": 570,
        "y": 300,
        "wires": [
            [
                "d031d868e4b5d98e"
            ]
        ]
    },
    {
        "id": "3c884fe5f4e87996",
        "type": "state",
        "z": "39511f3b3e75d1cc",
        "name": "Running",
        "isinitialstate": false,
        "outputlist": [
            {
                "name": "Running",
                "value": "true",
                "type": "bool"
            },
            {
                "name": "Stopped",
                "value": "false",
                "type": "bool"
            }
        ],
        "transitionlist": [
            {
                "condition": "Stop",
                "state": "Stopped"
            }
        ],
        "x": 800,
        "y": 200,
        "wires": [
            [
                "374914cbf380c7c1"
            ]
        ]
    },
    {
        "id": "fa621fb2b0ac3195",
        "type": "state",
        "z": "39511f3b3e75d1cc",
        "name": "Stopped",
        "isinitialstate": true,
        "outputlist": [
            {
                "name": "Running",
                "value": "false",
                "type": "bool"
            },
            {
                "name": "Stopped",
                "value": "true",
                "type": "bool"
            }
        ],
        "transitionlist": [
            {
                "condition": "Run",
                "state": "Running"
            }
        ],
        "x": 800,
        "y": 240,
        "wires": [
            [
                "374914cbf380c7c1"
            ]
        ]
    },
    {
        "id": "5edf45949133843c",
        "type": "output",
        "z": "39511f3b3e75d1cc",
        "name": "Running",
        "rbe": true,
        "x": 1060,
        "y": 240,
        "wires": [
            [
                "e21b07b5c03bef15"
            ]
        ]
    },
    {
        "id": "446ae81165bbe7be",
        "type": "output",
        "z": "39511f3b3e75d1cc",
        "name": "Stopped",
        "rbe": true,
        "x": 1060,
        "y": 300,
        "wires": [
            [
                "dc2bae6dc06dc761"
            ]
        ]
    },
    {
        "id": "e21b07b5c03bef15",
        "type": "debug",
        "z": "39511f3b3e75d1cc",
        "name": "Running",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 240,
        "wires": []
    },
    {
        "id": "dc2bae6dc06dc761",
        "type": "debug",
        "z": "39511f3b3e75d1cc",
        "name": "Stopped",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1260,
        "y": 300,
        "wires": []
    },
    {
        "id": "2408343566b252ed",
        "type": "debug",
        "z": "39511f3b3e75d1cc",
        "name": "Condition",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 120,
        "wires": []
    },
    {
        "id": "96d59b55d99957c0",
        "type": "debug",
        "z": "39511f3b3e75d1cc",
        "name": "State In",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 800,
        "y": 140,
        "wires": []
    },
    {
        "id": "bc737443d358eba5",
        "type": "debug",
        "z": "39511f3b3e75d1cc",
        "name": "State Out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 140,
        "wires": []
    },
    {
        "id": "673b00ba946d9a6b",
        "type": "comment",
        "z": "39511f3b3e75d1cc",
        "name": "Input Nodes",
        "info": "",
        "x": 370,
        "y": 460,
        "wires": []
    },
    {
        "id": "aa37b872e49dd36c",
        "type": "comment",
        "z": "39511f3b3e75d1cc",
        "name": "Condition Nodes",
        "info": "",
        "x": 600,
        "y": 460,
        "wires": []
    },
    {
        "id": "7ac846910a10f48e",
        "type": "comment",
        "z": "39511f3b3e75d1cc",
        "name": "State Nodes",
        "info": "",
        "x": 810,
        "y": 460,
        "wires": []
    },
    {
        "id": "4418d4821e04db37",
        "type": "comment",
        "z": "39511f3b3e75d1cc",
        "name": "Output Nodes",
        "info": "",
        "x": 1070,
        "y": 460,
        "wires": []
    },
    {
        "id": "8abffbeabfc3b398",
        "type": "input",
        "z": "d63dc3e1a8ada448",
        "name": "Start_sw",
        "initialvalue": "false",
        "initialvaluetype": "bool",
        "x": 400,
        "y": 240,
        "wires": [
            [
                "dd52936b29fd2896"
            ]
        ]
    },
    {
        "id": "02f2dd2f6ba2c17d",
        "type": "input",
        "z": "d63dc3e1a8ada448",
        "name": "Stop_sw",
        "initialvalue": "false",
        "initialvaluetype": "bool",
        "x": 400,
        "y": 280,
        "wires": [
            [
                "dd52936b29fd2896"
            ]
        ]
    },
    {
        "id": "9922bd4258811839",
        "type": "output",
        "z": "d63dc3e1a8ada448",
        "name": "Pump_Run",
        "rbe": true,
        "x": 1370,
        "y": 180,
        "wires": [
            [
                "b645bd7c798f068b"
            ]
        ]
    },
    {
        "id": "b6ea3365dfae1f25",
        "type": "output",
        "z": "d63dc3e1a8ada448",
        "name": "Desorb_Valve",
        "rbe": true,
        "x": 1380,
        "y": 240,
        "wires": [
            [
                "37d463b3e3dd8ea4",
                "1d77182cc7f77953"
            ]
        ]
    },
    {
        "id": "5bb9b0afc743adb1",
        "type": "output",
        "z": "d63dc3e1a8ada448",
        "name": "Adsorb_Valve",
        "rbe": true,
        "x": 1380,
        "y": 300,
        "wires": [
            [
                "9bfbe610e02c899e",
                "d7f0207df59e8434"
            ]
        ]
    },
    {
        "id": "bd9b820f6dae279e",
        "type": "condition",
        "z": "d63dc3e1a8ada448",
        "name": "Start",
        "expression": "Start_sw and not Stop_sw and not Ads_done and not Des_done",
        "oninputtopic": true,
        "onsynctopic": false,
        "x": 710,
        "y": 140,
        "wires": [
            [
                "939e3302641baadb"
            ]
        ]
    },
    {
        "id": "40177951232e426a",
        "type": "condition",
        "z": "d63dc3e1a8ada448",
        "name": "Stop",
        "expression": "Stop_sw",
        "oninputtopic": true,
        "onsynctopic": false,
        "x": 710,
        "y": 200,
        "wires": [
            [
                "939e3302641baadb"
            ]
        ]
    },
    {
        "id": "302e0c820f98d711",
        "type": "inject",
        "z": "d63dc3e1a8ada448",
        "name": "START",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "37b0a89deb2bc1c5"
            ]
        ]
    },
    {
        "id": "dfe5eb802e29b25b",
        "type": "inject",
        "z": "d63dc3e1a8ada448",
        "name": "STOP",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "true",
        "payloadType": "bool",
        "x": 90,
        "y": 280,
        "wires": [
            [
                "2fcf70e266144a23"
            ]
        ]
    },
    {
        "id": "b645bd7c798f068b",
        "type": "debug",
        "z": "d63dc3e1a8ada448",
        "name": "Pump_Run",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1750,
        "y": 60,
        "wires": []
    },
    {
        "id": "0a028e24853dbc9f",
        "type": "debug",
        "z": "d63dc3e1a8ada448",
        "name": "Adsorbing out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 120,
        "wires": []
    },
    {
        "id": "5ee584c748e1b268",
        "type": "debug",
        "z": "d63dc3e1a8ada448",
        "name": "state in",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 40,
        "wires": []
    },
    {
        "id": "653db74cedc9ec75",
        "type": "debug",
        "z": "d63dc3e1a8ada448",
        "name": "condition in",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 60,
        "wires": []
    },
    {
        "id": "09b75a4f03ba6b09",
        "type": "input",
        "z": "d63dc3e1a8ada448",
        "name": "Des_done",
        "initialvalue": "false",
        "initialvaluetype": "bool",
        "x": 390,
        "y": 440,
        "wires": [
            [
                "dd52936b29fd2896"
            ]
        ]
    },
    {
        "id": "8d59acd4a0f42c8b",
        "type": "input",
        "z": "d63dc3e1a8ada448",
        "name": "Ads_done",
        "initialvalue": "false",
        "initialvaluetype": "bool",
        "x": 380,
        "y": 520,
        "wires": [
            [
                "dd52936b29fd2896"
            ]
        ]
    },
    {
        "id": "0b5634fd69a4fb13",
        "type": "condition",
        "z": "d63dc3e1a8ada448",
        "name": "Des_done",
        "expression": "Des_done and not Stop_sw and not Ads_done",
        "oninputtopic": true,
        "onsynctopic": false,
        "x": 710,
        "y": 300,
        "wires": [
            [
                "939e3302641baadb"
            ]
        ]
    },
    {
        "id": "d9d26258a55cf2ee",
        "type": "condition",
        "z": "d63dc3e1a8ada448",
        "name": "Ads_done",
        "expression": "Ads_done and not Stop_sw and not Des_done",
        "oninputtopic": true,
        "onsynctopic": false,
        "x": 700,
        "y": 360,
        "wires": [
            [
                "939e3302641baadb"
            ]
        ]
    },
    {
        "id": "1bd455c8ed6f585d",
        "type": "comment",
        "z": "d63dc3e1a8ada448",
        "name": "Input Nodes",
        "info": "",
        "x": 390,
        "y": 620,
        "wires": []
    },
    {
        "id": "d667726628c5b8b7",
        "type": "comment",
        "z": "d63dc3e1a8ada448",
        "name": "Condition Nodes",
        "info": "",
        "x": 700,
        "y": 620,
        "wires": []
    },
    {
        "id": "70188f354a940890",
        "type": "comment",
        "z": "d63dc3e1a8ada448",
        "name": "State Nodes",
        "info": "",
        "x": 1030,
        "y": 620,
        "wires": []
    },
    {
        "id": "a7198e6338ab1c4b",
        "type": "comment",
        "z": "d63dc3e1a8ada448",
        "name": "Output Nodes",
        "info": "",
        "x": 1370,
        "y": 620,
        "wires": []
    },
    {
        "id": "9386ceb2b3d1f5c8",
        "type": "state",
        "z": "d63dc3e1a8ada448",
        "name": "Adsorbing",
        "isinitialstate": false,
        "outputlist": [
            {
                "name": "Pump_Run",
                "value": true,
                "type": "bool"
            },
            {
                "name": "Adsorb_Valve",
                "value": true,
                "type": "bool"
            },
            {
                "name": "Desorb_Valve",
                "value": false,
                "type": "bool"
            }
        ],
        "transitionlist": [
            {
                "condition": "Start",
                "state": "Adsorbing"
            },
            {
                "condition": "Stop",
                "state": "Stopped"
            },
            {
                "condition": "Ads_done",
                "state": "Desorbing"
            },
            {
                "condition": "Des_done",
                "state": "Adsorbing"
            }
        ],
        "x": 1040,
        "y": 260,
        "wires": [
            [
                "abea91748d3be8bc",
                "0a028e24853dbc9f"
            ]
        ]
    },
    {
        "id": "33211bc2b327501a",
        "type": "state",
        "z": "d63dc3e1a8ada448",
        "name": "Desorbing",
        "isinitialstate": false,
        "outputlist": [
            {
                "name": "Pump_Run",
                "value": "true",
                "type": "bool"
            },
            {
                "name": "Adsorb_Valve",
                "value": "false",
                "type": "bool"
            },
            {
                "name": "Desorb_Valve",
                "value": "true",
                "type": "bool"
            }
        ],
        "transitionlist": [
            {
                "condition": "Start",
                "state": "Desorbing"
            },
            {
                "condition": "Stop",
                "state": "Stopped"
            },
            {
                "condition": "Ads_done",
                "state": "Desorbing"
            },
            {
                "condition": "Des_done",
                "state": "Adsorbing"
            }
        ],
        "x": 1050,
        "y": 200,
        "wires": [
            [
                "abea91748d3be8bc",
                "8ee4390b17a0c1dd"
            ]
        ]
    },
    {
        "id": "5970541909607984",
        "type": "state",
        "z": "d63dc3e1a8ada448",
        "name": "Stopped",
        "isinitialstate": true,
        "outputlist": [
            {
                "name": "Pump_Run",
                "value": "false",
                "type": "bool"
            },
            {
                "name": "Adsorb_Valve",
                "value": "false",
                "type": "bool"
            },
            {
                "name": "Desorb_Valve",
                "value": "false",
                "type": "bool"
            }
        ],
        "transitionlist": [
            {
                "condition": "Start",
                "state": "Desorbing"
            },
            {
                "condition": "Stop",
                "state": "Stopped"
            },
            {
                "condition": "Ads_done",
                "state": "Stopped"
            },
            {
                "condition": "Des_done",
                "state": "Stopped"
            }
        ],
        "x": 1040,
        "y": 120,
        "wires": [
            [
                "abea91748d3be8bc",
                "b7c107b50b1a3d1a"
            ]
        ]
    },
    {
        "id": "9bfbe610e02c899e",
        "type": "debug",
        "z": "d63dc3e1a8ada448",
        "name": "Ads_Valve",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1750,
        "y": 140,
        "wires": []
    },
    {
        "id": "37d463b3e3dd8ea4",
        "type": "debug",
        "z": "d63dc3e1a8ada448",
        "name": "Des_Valve",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1750,
        "y": 100,
        "wires": []
    },
    {
        "id": "8ee4390b17a0c1dd",
        "type": "debug",
        "z": "d63dc3e1a8ada448",
        "name": "Desorbing out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 80,
        "wires": []
    },
    {
        "id": "b7c107b50b1a3d1a",
        "type": "debug",
        "z": "d63dc3e1a8ada448",
        "name": "Stopped out",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1370,
        "y": 40,
        "wires": []
    },
    {
        "id": "37b0a89deb2bc1c5",
        "type": "trigger",
        "z": "d63dc3e1a8ada448",
        "name": "MC",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 210,
        "y": 240,
        "wires": [
            [
                "8abffbeabfc3b398"
            ]
        ]
    },
    {
        "id": "2fcf70e266144a23",
        "type": "trigger",
        "z": "d63dc3e1a8ada448",
        "name": "MC",
        "op1": "true",
        "op2": "false",
        "op1type": "bool",
        "op2type": "bool",
        "duration": "250",
        "extend": false,
        "overrideDelay": false,
        "units": "ms",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 210,
        "y": 280,
        "wires": [
            [
                "02f2dd2f6ba2c17d"
            ]
        ]
    },
    {
        "id": "0414498f6aa9c5e5",
        "type": "comment",
        "z": "d63dc3e1a8ada448",
        "name": "On-Delay",
        "info": "",
        "x": 1720,
        "y": 620,
        "wires": []
    },
    {
        "id": "1d77182cc7f77953",
        "type": "subflow:8d6ebfa73499d6c8",
        "z": "d63dc3e1a8ada448",
        "name": "",
        "x": 1720,
        "y": 520,
        "wires": [
            [
                "09b75a4f03ba6b09"
            ]
        ]
    },
    {
        "id": "d7f0207df59e8434",
        "type": "subflow:8d6ebfa73499d6c8",
        "z": "d63dc3e1a8ada448",
        "name": "",
        "x": 1720,
        "y": 580,
        "wires": [
            [
                "8d59acd4a0f42c8b"
            ]
        ]
    }
]