node_red_config/flows/Flow 1.json
[
  {
    "id": "b4d448ed.fc828",
    "type": "tab",
    "label": "Flow 1",
    "disabled": false,
    "info": ""
  },
  {
    "id": "f69452b1.447158",
    "type": "ui_table",
    "z": "b4d448ed.fc828",
    "group": "a005132f.6196e8",
    "name": "Without quotation",
    "order": 0,
    "width": "6",
    "height": "4",
    "columns": [
      {
        "field": "name",
        "title": "Col 1",
        "width": "",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      },
      {
        "field": "city",
        "title": "Col 2",
        "width": "",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      }
    ],
    "outputs": 0,
    "cts": false,
    "x": 570,
    "y": 160,
    "wires": [],
    "info": "\n\nA really simple table without quotation marks"
  },
  {
    "id": "a8e19fb2.35c11",
    "type": "inject",
    "z": "b4d448ed.fc828",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 130,
    "y": 160,
    "wires": [
      [
        "69b33eaf.57d248"
      ]
    ]
  },
  {
    "id": "69b33eaf.57d248",
    "type": "change",
    "z": "b4d448ed.fc828",
    "name": "Set Data",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "[\t   {\t       \"name\": \"Will\",\t       \"city\": \"Paris\"\t    },\t   {\t       \"name\": \"Jean-Claude\",\t       \"city\": \"London\"\t    },\t   {\t       \"name\": \"O'Hara\",\t       \"city\": \"Beirut\"\t    },\t    {\t    \"name\": '\"The Nail\"',\t    \"city\": \"Hammersmith\"\t    }\t]",
        "tot": "jsonata"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 300,
    "y": 160,
    "wires": [
      [
        "f69452b1.447158",
        "cb212221.fc40d8",
        "3e460172.857ed6",
        "ade38373.01654",
        "9216fb01.47f52",
        "e9c07312.e0e7c",
        "d80cc268.700478"
      ]
    ]
  },
  {
    "id": "cb212221.fc40d8",
    "type": "ui_table",
    "z": "b4d448ed.fc828",
    "group": "1885673b.2145c1",
    "name": "Single quote in 'TableName'",
    "order": 0,
    "width": "6",
    "height": "4",
    "columns": [
      {
        "field": "name",
        "title": "Col 1",
        "width": "",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      },
      {
        "field": "city",
        "title": "Col 2",
        "width": "",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      }
    ],
    "outputs": 0,
    "cts": false,
    "x": 600,
    "y": 220,
    "wires": [],
    "info": "\n\nA really simple table with single quotation marks in Table Name"
  },
  {
    "id": "3e460172.857ed6",
    "type": "ui_table",
    "z": "b4d448ed.fc828",
    "group": "9971c312.3702d8",
    "name": "Single quote in Column Title",
    "order": 1,
    "width": "6",
    "height": "4",
    "columns": [
      {
        "field": "name",
        "title": "&#39;Col 1&#39;",
        "width": "",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      },
      {
        "field": "city",
        "title": "Col 2",
        "width": "",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      }
    ],
    "outputs": 0,
    "cts": false,
    "x": 600,
    "y": 280,
    "wires": [],
    "info": "\n\nA really simple table with single quotation mark in Column Title"
  },
  {
    "id": "ade38373.01654",
    "type": "ui_table",
    "z": "b4d448ed.fc828",
    "group": "47f6a8.a2c36158",
    "name": "Single quote in Description",
    "order": 1,
    "width": "6",
    "height": "4",
    "columns": [
      {
        "field": "name",
        "title": "Col 1",
        "width": "",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      },
      {
        "field": "city",
        "title": "Col 2",
        "width": "",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      }
    ],
    "outputs": 0,
    "cts": false,
    "x": 600,
    "y": 340,
    "wires": [],
    "info": "\n\nA really simple table with 'single quotation' marks in description."
  },
  {
    "id": "9216fb01.47f52",
    "type": "ui_table",
    "z": "b4d448ed.fc828",
    "group": "1885673b.2145c1",
    "name": "Double quote in \"TableName\"",
    "order": 0,
    "width": "6",
    "height": "4",
    "columns": [
      {
        "field": "name",
        "title": "Col 1",
        "width": "",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      },
      {
        "field": "city",
        "title": "Col 2",
        "width": "",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      }
    ],
    "outputs": 0,
    "cts": false,
    "x": 600,
    "y": 400,
    "wires": [],
    "info": "\n\nA really simple table with double quotation marks in Table Name"
  },
  {
    "id": "e9c07312.e0e7c",
    "type": "ui_table",
    "z": "b4d448ed.fc828",
    "group": "9971c312.3702d8",
    "name": "Double quote in Column Title",
    "order": 1,
    "width": "6",
    "height": "4",
    "columns": [
      {
        "field": "name",
        "title": "\"Col 1\"",
        "width": "",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      },
      {
        "field": "city",
        "title": "Col 2",
        "width": "",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      }
    ],
    "outputs": 0,
    "cts": false,
    "x": 600,
    "y": 460,
    "wires": [],
    "info": "\n\nA really simple table with double quotation mark in Column Title"
  },
  {
    "id": "d80cc268.700478",
    "type": "ui_table",
    "z": "b4d448ed.fc828",
    "group": "47f6a8.a2c36158",
    "name": "Double quote in Description",
    "order": 1,
    "width": "6",
    "height": "4",
    "columns": [
      {
        "field": "name",
        "title": "Col 1",
        "width": "",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      },
      {
        "field": "city",
        "title": "Col 2",
        "width": "",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      }
    ],
    "outputs": 0,
    "cts": false,
    "x": 600,
    "y": 520,
    "wires": [],
    "info": "\n\nA really simple table with \"double quotation\" marks in description."
  },
  {
    "id": "8a38e79e.e30648",
    "type": "function",
    "z": "b4d448ed.fc828",
    "name": "Format Table",
    "func": "\n//var DT_List = global.get(\"DT_List\");\n//var i;\n//var Line = msg.payload;\n\n\n\n// Can change color in CSS, but not sure where / how to do this:\n    //.tabulator .tabulator-row.selected{\n    //\tbackground: #f00 !important; /*highlight selected row red, make sure it overrides existing styling*/\n    //}\n\n// Display up to 12 rows, select row 0, and highlight in red.\nmsg.ui_control = {\n    \"customHeight\":12,\n    \"tabulator\": {\n        \"selectable\":1,\n        \"renderComplete\":\"function(){this.send({ui_control:{callback:'renderComplete'}})}\"\n    }\n};\n\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 330,
    "y": 760,
    "wires": [
      [
        "1d03a916.1ea9c7"
      ]
    ]
  },
  {
    "id": "1d03a916.1ea9c7",
    "type": "ui_table",
    "z": "b4d448ed.fc828",
    "group": "58a8895c.e04f28",
    "name": "Table1",
    "order": 1,
    "width": "16",
    "height": "10",
    "columns": [
      {
        "field": "RecNo",
        "title": "RecNo",
        "width": "11px",
        "align": "center",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      },
      {
        "field": "EvtStartTime",
        "title": "Event Start Time",
        "width": "20px",
        "align": "left",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      },
      {
        "field": "L_Code",
        "title": "L_Code",
        "width": "12px",
        "align": "center",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      },
      {
        "field": "Dur",
        "title": "Dur",
        "width": "10px",
        "align": "center",
        "formatter": "plaintext",
        "formatterParams": {
          "target": "_blank"
        }
      }
    ],
    "outputs": 1,
    "cts": true,
    "x": 735,
    "y": 760,
    "wires": [
      [
        "2e4f7d73.baa142",
        "5e0b3d4e.bc9634"
      ]
    ]
  },
  {
    "id": "2e4f7d73.baa142",
    "type": "debug",
    "z": "b4d448ed.fc828",
    "name": "A",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 888,
    "y": 743,
    "wires": []
  },
  {
    "id": "2ba17e32.afc672",
    "type": "function",
    "z": "b4d448ed.fc828",
    "name": "InitializeData",
    "func": "msg.payload = [{\n\t\t\t\"ID\": 20879,\n\t\t\t\"WO_StartTime\": \"2020-08-01 16:05:29\",\n\t\t\t\"EvtStartTime\": \"2020-08-01 17:29:11\",\n\t\t\t\"WO_No\": \"AUG1B\",\n\t\t\t\"RecNo\": 49,\n\t\t\t\"ModeNo\": 1,\n\t\t\t\"L_Code\": 45,\n\t\t\t\"Dur\": 0.07,\n\t\t\t\"L_Reason\": \"45 - Filler - Idle Blocked - Outfeed Conveyor Full\"\n\t\t},\n\t\t{\n\t\t\t\"ID\": 20878,\n\t\t\t\"WO_StartTime\": \"2020-08-01 16:05:29\",\n\t\t\t\"EvtStartTime\": \"2020-08-01 17:28:43\",\n\t\t\t\"WO_No\": \"AUG1B\",\n\t\t\t\"RecNo\": 48,\n\t\t\t\"ModeNo\": 1,\n\t\t\t\"L_Code\": 144,\n\t\t\t\"Dur\": 0.47,\n\t\t\t\"L_Reason\": \"144 - Labeler - Low Low Labels\"\n\t\t},\n\t\t{\n\t\t\t\"ID\": 20877,\n\t\t\t\"WO_StartTime\": \"2020-08-01 16:05:29\",\n\t\t\t\"EvtStartTime\": \"2020-08-01 17:24:29\",\n\t\t\t\"WO_No\": \"AUG1B\",\n\t\t\t\"RecNo\": 46,\n\t\t\t\"ModeNo\": 1,\n\t\t\t\"L_Code\": 91,\n\t\t\t\"Dur\": 4.22,\n\t\t\t\"L_Reason\": \"91 - Seamer - System Manual Mode\"\n\t\t},\n\t\t{\n\t\t\t\"ID\": 20875,\n\t\t\t\"WO_StartTime\": \"2020-08-01 16:05:29\",\n\t\t\t\"EvtStartTime\": \"2020-08-01 17:24:25\",\n\t\t\t\"WO_No\": \"AUG1B\",\n\t\t\t\"RecNo\": 44,\n\t\t\t\"ModeNo\": 1,\n\t\t\t\"L_Code\": 9,\n\t\t\t\"Dur\": 0.02,\n\t\t\t\"L_Reason\": \"9 - Can Cleaner - Door #2 Open\"\n\t\t},\n\t\t{\n\t\t\t\"ID\": 20874,\n\t\t\t\"WO_StartTime\": \"2020-08-01 16:05:29\",\n\t\t\t\"EvtStartTime\": \"2020-08-01 17:00:00\",\n\t\t\t\"WO_No\": \"AUG1B\",\n\t\t\t\"RecNo\": 42,\n\t\t\t\"ModeNo\": 1,\n\t\t\t\"L_Code\": 35,\n\t\t\t\"Dur\": 9.43,\n\t\t\t\"L_Reason\": \"35 - Filler - Inspection Door 2 Open\"\n\t\t}];\n\t\t\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "x": 330,
    "y": 709,
    "wires": [
      [
        "8a38e79e.e30648"
      ]
    ]
  },
  {
    "id": "2ebc4a57.75db86",
    "type": "inject",
    "z": "b4d448ed.fc828",
    "name": "",
    "props": [
      {
        "p": "payload",
        "v": "",
        "vt": "date"
      },
      {
        "p": "topic",
        "v": "",
        "vt": "string"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 133,
    "y": 692,
    "wires": [
      [
        "2ba17e32.afc672"
      ]
    ]
  },
  {
    "id": "13a31094.82261f",
    "type": "function",
    "z": "b4d448ed.fc828",
    "name": "select row 1",
    "func": "if (msg.hasOwnProperty('ui_control') && msg.ui_control.callback === \"renderComplete\") {\n    var msgOut={\n        payload:{\n            command:\"selectRow\",\n            arguments: [1],\n            returnPromise: false\n        }\n    }\n    return msgOut;\n}",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 330,
    "y": 828,
    "wires": [
      [
        "1d03a916.1ea9c7",
        "c347a95e.b7a9f8"
      ]
    ]
  },
  {
    "id": "6bb94a63.257154",
    "type": "ui_ui_control",
    "z": "b4d448ed.fc828",
    "name": "",
    "events": "all",
    "x": 133,
    "y": 726,
    "wires": [
      [
        "2ba17e32.afc672"
      ]
    ]
  },
  {
    "id": "5e0b3d4e.bc9634",
    "type": "link out",
    "z": "b4d448ed.fc828",
    "name": "",
    "links": [
      "88bc27e0.a8cb58"
    ],
    "x": 853,
    "y": 794,
    "wires": []
  },
  {
    "id": "88bc27e0.a8cb58",
    "type": "link in",
    "z": "b4d448ed.fc828",
    "name": "",
    "links": [
      "5e0b3d4e.bc9634"
    ],
    "x": 190,
    "y": 828,
    "wires": [
      [
        "13a31094.82261f"
      ]
    ]
  },
  {
    "id": "c347a95e.b7a9f8",
    "type": "debug",
    "z": "b4d448ed.fc828",
    "name": "",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 565,
    "y": 828,
    "wires": []
  },
  {
    "id": "d919bea9.aba6d",
    "type": "function",
    "z": "b4d448ed.fc828",
    "name": "callback functions",
    "func": "var rowFormatter = function(row){     \n    var data = row.getData();\n    switch (data.$state) {\n        case 'lost':             \n            row.getElement().style.backgroundColor = '#9e2e66';\n            row.getElement().style.color = '#a6a6a6';\n            break;         \n        case 'sleeping':\n            row.getElement().style.backgroundColor = '#336699';\n            break;\n        case 'disconnected':\n            row.getElement().style.backgroundColor = '#cc3300';\n            row.getElement().style.color = '#a6a6a6';\n            break;\n        case 'alert':             \n            row.getElement().style.backgroundColor = '#A6A6DF';\n            break;         \n        case 'init':             \n            row.getElement().style.backgroundColor = '#f2f20d';\n            break;         \n        case 'ready':\n            row.getElement().style.backgroundColor = '';\n            row.getElement().style.color = '';\n            break;         \n        \n    } \n};\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "x": 775,
    "y": 845,
    "wires": [
      []
    ]
  }
]