node_red_config/flows/tcp demo.json
[
  {
    "id": "7862a34a08f3a48c",
    "type": "tab",
    "label": "tcp demo",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7e780e28a369d0c0",
    "type": "tcp in",
    "z": "7862a34a08f3a48c",
    "name": "tcp server for testing on 1234",
    "server": "server",
    "host": "",
    "port": "1234",
    "datamode": "stream",
    "datatype": "buffer",
    "newline": "",
    "topic": "",
    "trim": false,
    "base64": false,
    "tls": "",
    "x": 200,
    "y": 800,
    "wires": [
      [
        "304c1ef83519af82",
        "63516bb7e27ec895"
      ]
    ]
  },
  {
    "id": "304c1ef83519af82",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "name": "debug listen from client",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 650,
    "y": 800,
    "wires": []
  },
  {
    "id": "63516bb7e27ec895",
    "type": "subflow:23ace50339cc8aec",
    "z": "7862a34a08f3a48c",
    "name": "",
    "x": 610,
    "y": 860,
    "wires": []
  },
  {
    "id": "4c355020278b364b",
    "type": "tcp request",
    "z": "7862a34a08f3a48c",
    "name": "tcp client",
    "server": "",
    "port": "",
    "out": "sit",
    "ret": "buffer",
    "splitc": " ",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 1800,
    "y": 400,
    "wires": [
      [
        "3a52babadb278923"
      ]
    ]
  },
  {
    "id": "6b2ea9026db5ab1f",
    "type": "change",
    "z": "7862a34a08f3a48c",
    "name": "localhost 1234",
    "rules": [
      {
        "t": "set",
        "p": "host",
        "pt": "msg",
        "to": "localhost",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "port",
        "pt": "msg",
        "to": "1234",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1600,
    "y": 400,
    "wires": [
      [
        "4c355020278b364b"
      ]
    ]
  },
  {
    "id": "fe9a63f58f45898e",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "name": "",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      },
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 1150,
    "y": 600,
    "wires": [
      [
        "116ae6d3ca413997"
      ]
    ]
  },
  {
    "id": "3a52babadb278923",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "name": "response from server",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2020,
    "y": 400,
    "wires": []
  },
  {
    "id": "18ba3d166261a585",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "name": "",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1150,
    "y": 400,
    "wires": [
      [
        "a11dd86553a1860b"
      ]
    ]
  },
  {
    "id": "a11dd86553a1860b",
    "type": "change",
    "z": "7862a34a08f3a48c",
    "name": "[1]",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "[1]",
        "tot": "bin"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1310,
    "y": 400,
    "wires": [
      [
        "6b2ea9026db5ab1f"
      ]
    ]
  },
  {
    "id": "1eba7e9f22f617e1",
    "type": "status",
    "z": "7862a34a08f3a48c",
    "name": "",
    "scope": [
      "4c355020278b364b"
    ],
    "x": 1420,
    "y": 700,
    "wires": [
      [
        "b99d375491ef3a28"
      ]
    ]
  },
  {
    "id": "b99d375491ef3a28",
    "type": "change",
    "z": "7862a34a08f3a48c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "session_tcp",
        "pt": "flow",
        "to": "status._session",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1700,
    "y": 700,
    "wires": [
      [
        "7ae07e98ba2a6547"
      ]
    ]
  },
  {
    "id": "7ae07e98ba2a6547",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "name": "session",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 1960,
    "y": 700,
    "wires": []
  },
  {
    "id": "b0acd6258de6b653",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "name": "[2]",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "[2]",
    "payloadType": "bin",
    "x": 1150,
    "y": 520,
    "wires": [
      [
        "6b2ea9026db5ab1f"
      ]
    ]
  },
  {
    "id": "fe22f9cc6ffeb28d",
    "type": "tcp out",
    "z": "7862a34a08f3a48c",
    "name": "",
    "host": "",
    "port": "",
    "beserver": "reply",
    "base64": false,
    "end": false,
    "tls": "",
    "x": 510,
    "y": 920,
    "wires": []
  },
  {
    "id": "fa8a37b56f5a557c",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 160,
    "y": 920,
    "wires": [
      [
        "fe22f9cc6ffeb28d"
      ]
    ]
  },
  {
    "id": "116ae6d3ca413997",
    "type": "change",
    "z": "7862a34a08f3a48c",
    "name": "localhost 1235",
    "rules": [
      {
        "t": "set",
        "p": "host",
        "pt": "msg",
        "to": "localhost",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "port",
        "pt": "msg",
        "to": "1235",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1600,
    "y": 520,
    "wires": [
      [
        "4c355020278b364b"
      ]
    ]
  },
  {
    "id": "1b71f0c8ad1191cb",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "name": "global setup",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 830,
    "y": 940,
    "wires": [
      [
        "74d8dd142a10b5f7"
      ]
    ]
  },
  {
    "id": "74d8dd142a10b5f7",
    "type": "change",
    "z": "7862a34a08f3a48c",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "host0",
        "pt": "global",
        "to": "localhost",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "port0",
        "pt": "global",
        "to": "1234",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1020,
    "y": 940,
    "wires": [
      []
    ]
  },
  {
    "id": "aac97dd8bf68c2bd",
    "type": "subflow:b8af3da32fdbe614",
    "z": "7862a34a08f3a48c",
    "name": "",
    "env": [
      {
        "name": "Host",
        "value": "HOST0",
        "type": "env"
      }
    ],
    "x": 530,
    "y": 1060,
    "wires": [
      [
        "aabd71ac1fc04124"
      ],
      [
        "1c6cb9fa85386b7b"
      ]
    ]
  },
  {
    "id": "959cf28d075da866",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "name": "global clean",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 830,
    "y": 880,
    "wires": [
      [
        "2c8e5a3872ff4680"
      ]
    ]
  },
  {
    "id": "fdd5d4ea12b5e17d",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "name": "[2]",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "[2]",
    "payloadType": "bin",
    "x": 150,
    "y": 1140,
    "wires": [
      [
        "aac97dd8bf68c2bd"
      ]
    ]
  },
  {
    "id": "aabd71ac1fc04124",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 1020,
    "wires": []
  },
  {
    "id": "b00ff63f4a49224d",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "name": "[1]",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "[1]",
    "payloadType": "bin",
    "x": 150,
    "y": 1020,
    "wires": [
      [
        "aac97dd8bf68c2bd"
      ]
    ]
  },
  {
    "id": "f1c2538819427ef6",
    "type": "subflow:b8af3da32fdbe614",
    "z": "7862a34a08f3a48c",
    "name": "",
    "env": [
      {
        "name": "envHost",
        "value": "HOST1",
        "type": "env"
      }
    ],
    "x": 530,
    "y": 1300,
    "wires": [
      [
        "0f80f1703f1327e7"
      ],
      [
        "f37e58c999625122"
      ]
    ]
  },
  {
    "id": "d741d535e1a17371",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "name": "[2]",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "[2]",
    "payloadType": "bin",
    "x": 150,
    "y": 1380,
    "wires": [
      [
        "f1c2538819427ef6"
      ]
    ]
  },
  {
    "id": "0f80f1703f1327e7",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 1300,
    "wires": []
  },
  {
    "id": "d34e177bb85ef18c",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "name": "[1]",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "[1]",
    "payloadType": "bin",
    "x": 150,
    "y": 1260,
    "wires": [
      [
        "f1c2538819427ef6"
      ]
    ]
  },
  {
    "id": "1c6cb9fa85386b7b",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "name": "debug 4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 1120,
    "wires": []
  },
  {
    "id": "f37e58c999625122",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "name": "debug 5",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 800,
    "y": 1360,
    "wires": []
  },
  {
    "id": "2c8e5a3872ff4680",
    "type": "change",
    "z": "7862a34a08f3a48c",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "host0",
        "pt": "global"
      },
      {
        "t": "delete",
        "p": "port0",
        "pt": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1020,
    "y": 880,
    "wires": [
      []
    ]
  },
  {
    "id": "30123cdfc0e3e013",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "name": "debug 6",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 520,
    "y": 700,
    "wires": []
  },
  {
    "id": "4559eee0c3cbbaee",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "HOST0",
    "payloadType": "env",
    "x": 170,
    "y": 700,
    "wires": [
      [
        "30123cdfc0e3e013"
      ]
    ]
  },
  {
    "id": "42756ea0549a795f",
    "type": "function",
    "z": "7862a34a08f3a48c",
    "name": "get version from package.json",
    "func": "/**\n    functionGlobalContext: {\n        // os:require('os'),\n        require:require\n    },\n */\n\nvar _require = global.get('require');\n// let version = _require('root-require')('package.json').version\nlet version = _require('./package').version\n\n// var pjson = require('./package.json');\n\nmsg.payload = version\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 280,
    "wires": [
      [
        "0f6087ee8ca774bc"
      ]
    ]
  },
  {
    "id": "c53869c217a976c7",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 280,
    "wires": [
      [
        "42756ea0549a795f"
      ]
    ]
  },
  {
    "id": "0f6087ee8ca774bc",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "name": "version",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 280,
    "wires": []
  }
]