node_red_config/flows/tcp demo.json
[
  {
    "id": "7862a34a08f3a48c",
    "type": "tab",
    "label": "tcp demo",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "35de261249cdd446",
    "type": "group",
    "z": "7862a34a08f3a48c",
    "style": {
      "stroke": "#999999",
      "stroke-opacity": "1",
      "fill": "none",
      "fill-opacity": "1",
      "label": true,
      "label-position": "nw",
      "color": "#a4a4a4"
    },
    "nodes": [
      "7e780e28a369d0c0",
      "304c1ef83519af82",
      "63516bb7e27ec895",
      "fe22f9cc6ffeb28d",
      "fa8a37b56f5a557c",
      "1b71f0c8ad1191cb",
      "74d8dd142a10b5f7",
      "aac97dd8bf68c2bd",
      "959cf28d075da866",
      "fdd5d4ea12b5e17d",
      "aabd71ac1fc04124",
      "b00ff63f4a49224d",
      "f1c2538819427ef6",
      "d741d535e1a17371",
      "0f80f1703f1327e7",
      "d34e177bb85ef18c",
      "1c6cb9fa85386b7b",
      "f37e58c999625122",
      "2c8e5a3872ff4680",
      "30123cdfc0e3e013",
      "4559eee0c3cbbaee"
    ],
    "x": 94,
    "y": 1939,
    "w": 1072,
    "h": 762
  },
  {
    "id": "789c0d02d76fa9f6",
    "type": "group",
    "z": "7862a34a08f3a48c",
    "style": {
      "stroke": "#999999",
      "stroke-opacity": "1",
      "fill": "none",
      "fill-opacity": "1",
      "label": true,
      "label-position": "nw",
      "color": "#a4a4a4"
    },
    "nodes": [
      "4c355020278b364b",
      "6b2ea9026db5ab1f",
      "fe9a63f58f45898e",
      "3a52babadb278923",
      "18ba3d166261a585",
      "a11dd86553a1860b",
      "1eba7e9f22f617e1",
      "b99d375491ef3a28",
      "7ae07e98ba2a6547",
      "b0acd6258de6b653",
      "116ae6d3ca413997"
    ],
    "x": 1254,
    "y": 1919,
    "w": 1112,
    "h": 382
  },
  {
    "id": "c8fe8ba19da7f324",
    "type": "group",
    "z": "7862a34a08f3a48c",
    "style": {
      "stroke": "#999999",
      "stroke-opacity": "1",
      "fill": "none",
      "fill-opacity": "1",
      "label": true,
      "label-position": "nw",
      "color": "#a4a4a4"
    },
    "nodes": [
      "42756ea0549a795f",
      "c53869c217a976c7",
      "0f6087ee8ca774bc",
      "7124bb883a98fa69",
      "0acf576808478e7d",
      "03ee310610f6ba27",
      "5dfd7d40531ea9e8",
      "ae18ddb26fc89985",
      "c2fcef29dbe64088",
      "3bada01882d5c4c6",
      "bbc0e1fce90fa528",
      "863bb3a32aec973f",
      "14765ff34134b5bc"
    ],
    "x": 74,
    "y": 119,
    "w": 1052,
    "h": 382
  },
  {
    "id": "7e780e28a369d0c0",
    "type": "tcp in",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "tcp server for testing on 1234",
    "server": "server",
    "host": "",
    "port": "1234",
    "datamode": "stream",
    "datatype": "buffer",
    "newline": "",
    "topic": "",
    "trim": false,
    "base64": false,
    "tls": "",
    "x": 240,
    "y": 2080,
    "wires": [
      [
        "304c1ef83519af82",
        "63516bb7e27ec895"
      ]
    ]
  },
  {
    "id": "304c1ef83519af82",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "debug listen from client",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 690,
    "y": 2080,
    "wires": []
  },
  {
    "id": "63516bb7e27ec895",
    "type": "subflow:23ace50339cc8aec",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "",
    "x": 650,
    "y": 2140,
    "wires": []
  },
  {
    "id": "4c355020278b364b",
    "type": "tcp request",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "tcp client",
    "server": "",
    "port": "",
    "out": "sit",
    "ret": "buffer",
    "splitc": " ",
    "newline": "",
    "trim": false,
    "tls": "",
    "x": 2000,
    "y": 1960,
    "wires": [
      [
        "3a52babadb278923"
      ]
    ]
  },
  {
    "id": "6b2ea9026db5ab1f",
    "type": "change",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "localhost 1234",
    "rules": [
      {
        "t": "set",
        "p": "host",
        "pt": "msg",
        "to": "localhost",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "port",
        "pt": "msg",
        "to": "1234",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1800,
    "y": 1960,
    "wires": [
      [
        "4c355020278b364b"
      ]
    ]
  },
  {
    "id": "fe9a63f58f45898e",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      },
      {
        "p": "payload"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "str",
    "x": 1350,
    "y": 2160,
    "wires": [
      [
        "116ae6d3ca413997"
      ]
    ]
  },
  {
    "id": "3a52babadb278923",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "response from server",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2220,
    "y": 1960,
    "wires": []
  },
  {
    "id": "18ba3d166261a585",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "",
    "props": [
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "x": 1350,
    "y": 1960,
    "wires": [
      [
        "a11dd86553a1860b"
      ]
    ]
  },
  {
    "id": "a11dd86553a1860b",
    "type": "change",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "[1]",
    "rules": [
      {
        "t": "set",
        "p": "payload",
        "pt": "msg",
        "to": "[1]",
        "tot": "bin"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1510,
    "y": 1960,
    "wires": [
      [
        "6b2ea9026db5ab1f"
      ]
    ]
  },
  {
    "id": "1eba7e9f22f617e1",
    "type": "status",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "",
    "scope": [
      "4c355020278b364b"
    ],
    "x": 1620,
    "y": 2260,
    "wires": [
      [
        "b99d375491ef3a28"
      ]
    ]
  },
  {
    "id": "b99d375491ef3a28",
    "type": "change",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "session_tcp",
        "pt": "flow",
        "to": "status._session",
        "tot": "msg"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1900,
    "y": 2260,
    "wires": [
      [
        "7ae07e98ba2a6547"
      ]
    ]
  },
  {
    "id": "7ae07e98ba2a6547",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "session",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "true",
    "targetType": "full",
    "statusVal": "",
    "statusType": "auto",
    "x": 2160,
    "y": 2260,
    "wires": []
  },
  {
    "id": "b0acd6258de6b653",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "[2]",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "[2]",
    "payloadType": "bin",
    "x": 1350,
    "y": 2080,
    "wires": [
      [
        "6b2ea9026db5ab1f"
      ]
    ]
  },
  {
    "id": "fe22f9cc6ffeb28d",
    "type": "tcp out",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "",
    "host": "",
    "port": "",
    "beserver": "reply",
    "base64": false,
    "end": false,
    "tls": "",
    "x": 550,
    "y": 2200,
    "wires": []
  },
  {
    "id": "fa8a37b56f5a557c",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 200,
    "y": 2200,
    "wires": [
      [
        "fe22f9cc6ffeb28d"
      ]
    ]
  },
  {
    "id": "116ae6d3ca413997",
    "type": "change",
    "z": "7862a34a08f3a48c",
    "g": "789c0d02d76fa9f6",
    "name": "localhost 1235",
    "rules": [
      {
        "t": "set",
        "p": "host",
        "pt": "msg",
        "to": "localhost",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "port",
        "pt": "msg",
        "to": "1235",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1800,
    "y": 2080,
    "wires": [
      [
        "4c355020278b364b"
      ]
    ]
  },
  {
    "id": "1b71f0c8ad1191cb",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "global setup",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 870,
    "y": 2220,
    "wires": [
      [
        "74d8dd142a10b5f7"
      ]
    ]
  },
  {
    "id": "74d8dd142a10b5f7",
    "type": "change",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "",
    "rules": [
      {
        "t": "set",
        "p": "host0",
        "pt": "global",
        "to": "localhost",
        "tot": "str"
      },
      {
        "t": "set",
        "p": "port0",
        "pt": "global",
        "to": "1234",
        "tot": "str"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1060,
    "y": 2220,
    "wires": [
      []
    ]
  },
  {
    "id": "aac97dd8bf68c2bd",
    "type": "subflow:b8af3da32fdbe614",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "",
    "env": [
      {
        "name": "Host",
        "value": "HOST0",
        "type": "env"
      }
    ],
    "x": 570,
    "y": 2340,
    "wires": [
      [
        "aabd71ac1fc04124"
      ],
      [
        "1c6cb9fa85386b7b"
      ]
    ]
  },
  {
    "id": "959cf28d075da866",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "global clean",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 870,
    "y": 2160,
    "wires": [
      [
        "2c8e5a3872ff4680"
      ]
    ]
  },
  {
    "id": "fdd5d4ea12b5e17d",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "[2]",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "[2]",
    "payloadType": "bin",
    "x": 190,
    "y": 2420,
    "wires": [
      [
        "aac97dd8bf68c2bd"
      ]
    ]
  },
  {
    "id": "aabd71ac1fc04124",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "debug 2",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 2300,
    "wires": []
  },
  {
    "id": "b00ff63f4a49224d",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "[1]",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "[1]",
    "payloadType": "bin",
    "x": 190,
    "y": 2300,
    "wires": [
      [
        "aac97dd8bf68c2bd"
      ]
    ]
  },
  {
    "id": "f1c2538819427ef6",
    "type": "subflow:b8af3da32fdbe614",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "",
    "env": [
      {
        "name": "envHost",
        "value": "HOST1",
        "type": "env"
      }
    ],
    "x": 570,
    "y": 2580,
    "wires": [
      [
        "0f80f1703f1327e7"
      ],
      [
        "f37e58c999625122"
      ]
    ]
  },
  {
    "id": "d741d535e1a17371",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "[2]",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "[2]",
    "payloadType": "bin",
    "x": 190,
    "y": 2660,
    "wires": [
      [
        "f1c2538819427ef6"
      ]
    ]
  },
  {
    "id": "0f80f1703f1327e7",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "debug 3",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 2580,
    "wires": []
  },
  {
    "id": "d34e177bb85ef18c",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "[1]",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "[1]",
    "payloadType": "bin",
    "x": 190,
    "y": 2540,
    "wires": [
      [
        "f1c2538819427ef6"
      ]
    ]
  },
  {
    "id": "1c6cb9fa85386b7b",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "debug 4",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 2400,
    "wires": []
  },
  {
    "id": "f37e58c999625122",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "debug 5",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 840,
    "y": 2640,
    "wires": []
  },
  {
    "id": "2c8e5a3872ff4680",
    "type": "change",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "",
    "rules": [
      {
        "t": "delete",
        "p": "host0",
        "pt": "global"
      },
      {
        "t": "delete",
        "p": "port0",
        "pt": "global"
      }
    ],
    "action": "",
    "property": "",
    "from": "",
    "to": "",
    "reg": false,
    "x": 1060,
    "y": 2160,
    "wires": [
      []
    ]
  },
  {
    "id": "30123cdfc0e3e013",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "debug 6",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "false",
    "statusVal": "",
    "statusType": "auto",
    "x": 560,
    "y": 1980,
    "wires": []
  },
  {
    "id": "4559eee0c3cbbaee",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "35de261249cdd446",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "HOST0",
    "payloadType": "env",
    "x": 210,
    "y": 1980,
    "wires": [
      [
        "30123cdfc0e3e013"
      ]
    ]
  },
  {
    "id": "42756ea0549a795f",
    "type": "function",
    "z": "7862a34a08f3a48c",
    "g": "c8fe8ba19da7f324",
    "name": "get version from package.json",
    "func": "/**\n    functionGlobalContext: {\n        // os:require('os'),\n        require:require\n    },\n */\n\nvar _require = global.get('require');\n// let version = _require('root-require')('package.json').version\nlet version = _require('./package').version\n\n// var pjson = require('./package.json');\n\nmsg.payload = version\n\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 450,
    "y": 160,
    "wires": [
      [
        "0f6087ee8ca774bc"
      ]
    ]
  },
  {
    "id": "c53869c217a976c7",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "c8fe8ba19da7f324",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 180,
    "y": 160,
    "wires": [
      [
        "42756ea0549a795f"
      ]
    ]
  },
  {
    "id": "0f6087ee8ca774bc",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "g": "c8fe8ba19da7f324",
    "name": "version",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 760,
    "y": 160,
    "wires": []
  },
  {
    "id": "7124bb883a98fa69",
    "type": "exec",
    "z": "7862a34a08f3a48c",
    "g": "c8fe8ba19da7f324",
    "command": "cd node_red_config  && ",
    "addpay": "payload",
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "",
    "x": 630,
    "y": 280,
    "wires": [
      [
        "03ee310610f6ba27"
      ],
      [],
      []
    ]
  },
  {
    "id": "0acf576808478e7d",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "c8fe8ba19da7f324",
    "name": " npm version | grep node-red-project",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": " npm version | grep node-red-project",
    "payloadType": "str",
    "x": 260,
    "y": 280,
    "wires": [
      [
        "7124bb883a98fa69"
      ]
    ]
  },
  {
    "id": "03ee310610f6ba27",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "g": "c8fe8ba19da7f324",
    "name": "debug exec output",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 930,
    "y": 280,
    "wires": []
  },
  {
    "id": "5dfd7d40531ea9e8",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "c8fe8ba19da7f324",
    "name": "npm --no-git-tag-version version major",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "npm --no-git-tag-version version major",
    "payloadType": "str",
    "x": 270,
    "y": 340,
    "wires": [
      [
        "7124bb883a98fa69"
      ]
    ]
  },
  {
    "id": "ae18ddb26fc89985",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "c8fe8ba19da7f324",
    "name": " npm version ",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": " npm version",
    "payloadType": "str",
    "x": 190,
    "y": 220,
    "wires": [
      [
        "c2fcef29dbe64088"
      ]
    ]
  },
  {
    "id": "c2fcef29dbe64088",
    "type": "exec",
    "z": "7862a34a08f3a48c",
    "g": "c8fe8ba19da7f324",
    "command": "cd node_red_config  && ",
    "addpay": "payload",
    "append": "",
    "useSpawn": "false",
    "timer": "",
    "winHide": false,
    "oldrc": false,
    "name": "",
    "x": 630,
    "y": 220,
    "wires": [
      [
        "863bb3a32aec973f"
      ],
      [],
      []
    ]
  },
  {
    "id": "3bada01882d5c4c6",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "c8fe8ba19da7f324",
    "name": "npm --no-git-tag-version version minor",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "npm --no-git-tag-version version minor",
    "payloadType": "str",
    "x": 270,
    "y": 400,
    "wires": [
      [
        "7124bb883a98fa69"
      ]
    ]
  },
  {
    "id": "bbc0e1fce90fa528",
    "type": "debug",
    "z": "7862a34a08f3a48c",
    "g": "c8fe8ba19da7f324",
    "name": "version obj",
    "active": true,
    "tosidebar": true,
    "console": false,
    "tostatus": false,
    "complete": "payload",
    "targetType": "msg",
    "statusVal": "",
    "statusType": "auto",
    "x": 1010,
    "y": 220,
    "wires": []
  },
  {
    "id": "863bb3a32aec973f",
    "type": "function",
    "z": "7862a34a08f3a48c",
    "g": "c8fe8ba19da7f324",
    "name": "eval",
    "func": "msg.payload = eval(' versions = ' + msg.payload)\nreturn msg;",
    "outputs": 1,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 830,
    "y": 220,
    "wires": [
      [
        "bbc0e1fce90fa528"
      ]
    ]
  },
  {
    "id": "14765ff34134b5bc",
    "type": "inject",
    "z": "7862a34a08f3a48c",
    "g": "c8fe8ba19da7f324",
    "name": "npm --no-git-tag-version version patch",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "npm --no-git-tag-version version patch",
    "payloadType": "str",
    "x": 270,
    "y": 460,
    "wires": [
      [
        "7124bb883a98fa69"
      ]
    ]
  }
]